/* Common style to both themes (graal and anathema) */

body,html {
    height: 100%;
}

nav {
    background-color: #0C334B;
}

a[data-toggle="tooltip"] {
    text-decoration: underline !important;
    text-decoration-thickness: 2px !important;
}


.main-icon {
    width: 50px;
    height: 50px;
}

.sticky-top {
    z-index: 980;
}

.knight-border {
    border-color: #e67e22 !important;
}

.knight-hr {
    height: 3px;
    background: #e67e22;
    background: linear-gradient(to right, rgba(230, 126, 34, 0) 10%, rgba(230, 126, 34, 1) 50%, rgba(230, 126, 34, 0) 90%);
}

/* a try to enhance faq feedback *
#faq h1,#faq h2,#faq h3,#faq h4,#faq h5,#faq h6 {
    color: #e67e22;
}
/* */

/* standard */
.badge-custom-rarity-1, .bg-custom-rarity-1 {
    color: #fff !important;
    background-color: #51abd3;
}

/* advanced */
.badge-custom-rarity-2, .bg-custom-rarity-2 {
    color: #fff !important;
    background-color: #d44fad;
}

/* rare */
.badge-custom-rarity-3, .bg-custom-rarity-3 {
    color: #fff !important;
    background-color: #fa8a0b;
}

/* prototype/prestigious */
.badge-custom-rarity-4, .bg-custom-rarity-4 {
    color: #000;
    background-color: #888888;
    background-image: linear-gradient(to top left, #7C8083, #93979A, #FFF, #93979A, #7C8083); 
}

/* relic */
.badge-custom-rarity-5, .bg-custom-rarity-5 {
    color: #000;
    background-color: #FFD700;
    background-image: linear-gradient(to top left, #BA881D, #C49541, #FCE588, #C49541, #BA881D);
}

.bg-custom-rarity-header-1 {
    background-image: linear-gradient(-155deg, #51abd3 4em, transparent 5em);
}

.bg-custom-rarity-header-2 {
    background-image: linear-gradient(-155deg, #d44fad 4em, transparent 5em);
}

.bg-custom-rarity-header-3 {
    background-image: linear-gradient(-155deg, #fa8a0b 4em, transparent 5em);
}

.bg-custom-rarity-header-4 {
    background-image: linear-gradient(-155deg, #7C8083, #93979A, #FFF, #93979A, #7C8083 4em, transparent 5em);
}
.bg-custom-rarity-header-5 {
    background-image: linear-gradient(-155deg, #BA881D, #C49541, #FCE588, #C49541, #BA881D 4em, transparent 5em);
}

/* newbie */
.badge-custom-difficulty-1, .bg-custom-difficulty-1 {
    color: #fff !important;
    background-color: #51abd3;
}

/* initiated */
.badge-custom-difficulty-2, .bg-custom-difficulty-2 {
    color: #fff !important;
    background-color: #d44fad;
}

/* hero */
.badge-custom-difficulty-3, .bg-custom-difficulty-3 {
    color: #fff !important;
    background-color: #fa8a0b;
}

/* round table */
.badge-custom-difficulty-4, .bg-custom-difficulty-4 {
    color: #000;
    background-color: #888888;
    background-image: linear-gradient(to top left, #7C8083, #93979A, #FFF, #93979A, #7C8083); 
}

.badge-cost-overdrive {
    position: absolute;
    top: 0px;
    right: 0px;
}


.badge-energy {
	background-color: #6ec5ff;
    color: #000;
    text-shadow: none;
}
.badge-armour {
	background-color: #8efe57;
    color: #000;
    text-shadow: none;
}
.badge-force-field {
	background-color: #226acd;
    color: #fff;
    text-shadow: none;
}
.badge-aegis {
	background-color: #ffe662;
    color: #000;
    text-shadow: none;
}
.badge-generation {
	background-color: #7A8288;
    color: #fff;
    text-shadow: none;
}

.bg-feature-active {
    background-color: #62c462 !important;
    color: #fff;
}

.bg-feature-inactive {
    background-color: #ee5f5b !important;
    color: #fff;
}

.thumbnail-bg {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.table tbody tr.bg-custom-rarity :hover td, .table tbody tr.bg-custom-rarity:hover th {
    color: #000;
}

.gm-index {
    height: 108px;
    width: 192px;
}

.gm-weapon-item {
    width: 9rem;
    height: 100px;
}

.gm-module-level {
    width: 15px;
    height: 100%;
}

.weapon-category {
    width: 50px;
    height: 50px;
}

.weapon-category-1 {
    background: url(/static/gm/img/icons8-gun-filled-50.png) no-repeat;
    background-size: contain;
}

.weapon-category-2 {
    background: url(/static/gm/img/icons8-army-knife-filled-50.png) no-repeat;
    background-size: contain;
}

th.th-dmg {
    width: 7rem;
}
th.th-reach {
    width: 6rem;
}
th.th-energy {
    width: 5rem;
}

.table-hover tbody {
    cursor: pointer;
}

.header-armour {
    background-position-x: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.armour-logo img {
    max-width: 100%;
    max-height: 50px;
}

.slot {
    background: url(/static/gm/img/blackfalcon_armour_shape.png);
    width: 80px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    text-shadow: black 1px 0px 0px, black -1px 0px 0px, black 0px -1px 0px, black 0px 1px 0px;
    font-weight: bold;
    color: white;
}

.slot>div {
    position: absolute;
}

.slot-head {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    text-align: center;
    top: 0;
}

.slot-right-arm {
    right: 0px;
    top: 15px;
}

.slot-left-arm {
    left: 0px;
    top: 15px;
}

.slot-torso {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    text-align: center;
    top: 30px;
}

.slot-right-leg {
    right: 10px;
    bottom: 10px;
}

.slot-left-leg {
    left: 10px;
    bottom: 10px;
}

.search-result {
    color: #777777;
}

.search-highlight {
    font-weight: bold;
    color: #123456;
    background-color: #fff;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2.3rem; }
h3 { font-size: 2.1rem; }
h4 { font-size: 1.9rem; }
h5 { font-size: 1.7rem; }
h6 { font-size: 1.5rem; }

.markdown-format h1,
.markdown-format h2,
.markdown-format h3,
.markdown-format h4,
.markdown-format h5,
.markdown-format h6 {
    color: inherit;
}

.markdown-format h1 { font-size: 1.5rem; }
.markdown-format h2 { font-size: 1.4rem; }
.markdown-format h3 { font-size: 1.3rem; }
.markdown-format h4 { font-size: 1.2rem; }
.markdown-format h5 { font-size: 1.1rem; }
.markdown-format h6 { font-size: 1rem; }

.markdown-format button.btn-sm {
    padding: 0rem 0.25rem;
}

.markdown-format table {
    width: 100%;
}

.markdown-format table th {
    text-align: center;
}

.markdown-format.previewed-img img {
    max-width: 20rem;
    max-height: 12rem;
}

table .markdown-format p:last-child,
.tab-pane.markdown-format p:last-child { /* Hotfix: only for tables, do not add a margin-bottom on last p tag*/
    margin-bottom: 0;
}

a.fa {
    color: inherit;
}

.card-body>h1.card-title {
    font-size: 1.2rem;
    color: inherit;
}
.card-body>h2.card-subtitle {
    font-size: 1rem;
    font-style: italic;
    color: inherit;
}

/* autocomplete global search */
.ui-autocomplete .ui-menu-item {
    background-color: #0C334B;
    color: #fff;
}
.ui-autocomplete .ui-menu-item-wrapper.ui-state-active {
    background-color: #4b240c;
    color: #fff;
}

.text-line-through {
    text-decoration: line-through;
}

.errorlist {
    color: red;
    font-size: x-large;
    font-weight: bold;
}

.card-illustration {
    max-width: 25%;
    max-height: 200px;
}

.w-20 {
    width: 20%;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.w-80 {
    width: 80%;
}

.fa-li > i {
    line-height: 1.5;
}

/* rarity col*/
.table-weapons>thead>tr>th:nth-child(2),.table-weapons>tbody>tr>td:nth-child(2){
    width: 100px !important;
}

/* price col*/
.table-weapons>thead>tr>th:nth-child(3),.table-weapons>tbody>tr>td:nth-child(3){
    width: 50px !important;
}

/* source col*/
.table-weapons>thead>tr>th:nth-child(4),.table-weapons>tbody>tr>td:nth-child(4){
    width: 110px !important;
  
}

.ghost-card {
    visibility: hidden;
}

.faq-big-title {
    background-color: transparent;
    background-position: top 6px left 10px
        ,top -2px right -2px
        ,bottom 10px right 10px
        ,bottom 10px right 10px
        ,bottom 0px left 0px
        ,top 10px left 10px
        ;
    background-size: calc(100% - 40px) 51%
        ,45px 47px
        ,51% calc(100% - 40px)
        ,calc(100% - 50px) 51%
        ,55px 30px
        ,51% calc(100% - 30px)
        ;
    background-repeat: no-repeat;
    margin-top: 3.5em;
}

.faq-big-title>.title {
    text-align: center;
    text-transform: uppercase;
    padding: 1em 2em;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    background-color: transparent;
    background-position: top left
        ,top left
        ,top right
        ,bottom right
        ,bottom right
        ,bottom right
        ,bottom right
        ,bottom left
        ,top left
        ,top left
        ;
    background-size: calc(55% + 32px) 10px
        ,calc(100% - 20px) 10px
        ,45px 30px
        ,10px calc(100% - 20px)
        ,10px calc(100% + -35px)
        ,calc(65% + 28px) 10px
        ,calc(100% - 20px) 10px
        ,45px 30px
        ,10px calc(100% - 20px)
        ,10px calc(100% + -35px)
        ;
    background-repeat: no-repeat;
}

.faq-title-lvl2 {
    margin-top: 1em;
}

.faq-title-lvl2 .title {
    font-weight: bold;
    text-align: center;
    font-size: larger;
    font-style: italic;
    font-variant-caps: small-caps;
}

.faq-title-lvl3 {
    margin-top: 0.5em;
}

.faq-title-lvl3 .title {
    font-weight: bold;
    text-align: center;
    font-size: large;
    font-style: italic;
}

.img-center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-border img {
    border: 1px solid;
}