{% load i18n %}
{% load static %}

<div class="{{ global_class }}" data-attr-code="{{ attr_code }}">
	{% spaceless %}
		<div class="d-block d-xl-none text-center">
			<div class="row m-0">
				<div class="col-4 p-0">
					<div>
						<button type="button" class="mr-0 align-top btn btn-link btn-sm manage-player" onclick="virtual_table.sub_value(this);">
							<i class="fas fa-minus-circle"></i>
						</button>
					</div>
				</div>
				<div class="col-4 p-0 max-width-when-compressed">
					<small class="badge badge-pill bg-{{ global_class }}" data-toggle="tooltip" title="{% trans full_label %}">{% trans label %}</small>
				</div>
				<div class="col-4 p-0">
					<div>
						<button type="button" class="btn m-0 align-top btn-link btn-sm manage-player" onclick="virtual_table.add_value(this);">
							<i class="fas fa-plus-circle"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<a href="#" data-toggle="modal" data-target="#updateValues" data-attr-code="{{ attr_code }}" class="badge badge-light badge-label" default-value="{% if default_value is None %}0{% else %}{{ default_value }}{% endif %}">{% if current_value is not None %}{{ current_value }}{% elif default_value is not None %}{{ default_value }}{% else %}0{% endif %}</a>
					<a class="m-0 ml-1 align-middle manage-player button-redo" href="#" onclick="virtual_table.reset_value(this,event);" role="button"><small><i class="fas fa-redo"></i></small></a>
				</div>
			</div>
		</div>
		<div class="d-xl-block d-none">
			<div class="row m-0 text-center justify-content-between">
				<div class="col-2 p-0">
					<div class="d-inline-block">
						<small class="badge badge-pill bg-{{ global_class }}" data-toggle="tooltip" title="{% trans full_label %}">{% trans label %}</small>
					</div>
				</div>
				<div class="col-2 p-0">
					<button type="button" class="mr-0 align-top btn btn-link btn-sm manage-player" onclick="virtual_table.sub_value(this);"><i class="fas fa-minus-circle"></i></button>
				</div>
				<div class="col-6 align-top stat-value">
					<div>
						<a href="#" data-toggle="modal" data-target="#updateValues" data-attr-code="{{ attr_code }}" class="badge badge-light badge-label" default-value="{% if default_value is None %}0{% else %}{{ default_value }}{% endif %}">{% if current_value is not None %}{{ current_value }}{% elif default_value is not None %}{{ default_value }}{% else %}0{% endif %}</a>
						<a class="m-0 ml-1 align-middle manage-player button-redo" href="#" onclick="virtual_table.reset_value(this,event);" role="button"><small><i class="fas fa-redo"></i></small></a>
					</div>
				</div>
				<div class="col-2 p-0">
					<button type="button" class="btn m-0 align-top btn-link btn-sm manage-player" onclick="virtual_table.add_value(this);"><i class="fas fa-plus-circle"></i></button>
				</div>
			</div>
		</div>
	{% endspaceless %}
</div>
