{% load i18n %}
{% load static %}

{% spaceless %}
    <div class="d-block d-xl-none text-center progress-bar-badge {{ global_class }}">
        <div class="row m-0">
            <div class="col-4 p-0">
                <div>
                    <button type="button" class="mr-0 align-top btn btn-link btn-sm manage-player" onclick="virtual_table.sub_progress_bar(this);">
                        <i class="fas fa-minus-circle"></i>
                    </button>
                </div>
            </div>
            <div class="col-4 p-0 max-width-when-compressed">
                <small class="badge {% if not classic_badge %}badge-pill{% endif %} {{ css_class }}" data-toggle="tooltip" title="{% trans full_label %}">{% trans label %}</small>
            </div>
            <div class="col-4 p-0">
                <div>
                    <button type="button" class="btn m-0 align-top btn-link btn-sm manage-player" onclick="virtual_table.add_progress_bar(this);">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                {% if max is None %}
                    <a href="#" data-toggle="modal" data-target="#updateValues" data-attr-code="{{ attr_code }}" class="badge badge-warning">{% trans 'Config...' %}</a>
                {% else %}
                    <a href="#" data-toggle="modal" data-target="#updateValues" data-attr-code="{{ attr_code }}" class="badge badge-light progress-bar-badge-label">{{ current }} / {{ max }}</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="progress btn-progress-bar">
                    <div class="progress-bar {{ css_class }}" role="progressbar" data-target="{{ target }}" aria-valuenow="{% if max is None %}0{% else %}{{ current }}{% endif %}" aria-valuemin="0" aria-valuemax="{% if max is None %}0{% else %}{{ max }}{% endif %}"></div>
                </div>
            </div>
            {% if recoverable is not None %}
                <div class="col-12 p-0 text-secondary text-center"><small><i class="fas fa-recycle mr-2"></i> <span class="recoverable-value" data-recover-target="{{ target_recover }}">{{ recoverable }}</span></small></div>
            {% endif %}
        </div>
        
    </div>
    <div class="d-xl-block d-none">
        <div class="row m-0 text-center justify-content-between">
            <div class="col-2 p-0">
                <small class="badge {% if not classic_badge %}badge-pill{% endif %} {{ css_class }}" data-toggle="tooltip" title="{% trans full_label %}">{% trans label %}</small>
            </div>
            <div class="col-2 p-0">
                <button type="button" class="mr-0 align-top btn btn-link btn-sm manage-player" onclick="virtual_table.sub_progress_bar(this);"><i class="fas fa-minus-circle"></i></button>
            </div>
            <div class="col-6 p-0 align-top progress-bar-badge stat-value">
                <div>
                    {% if max is None %}
                        <a href="#" data-toggle="modal" data-target="#updateValues" data-attr-code="{{ attr_code }}" class="badge badge-warning">{% trans 'À configurer' %}</a>
                    {% else %}
                        <a href="#" data-toggle="modal" data-target="#updateValues" data-attr-code="{{ attr_code }}" class="badge badge-light progress-bar-badge-label">{{ current }} / {{ max }}</a>
                    {% endif %}
                </div>
                <div>
                    <div class="progress btn-progress-bar">
                        <div class="progress-bar {{ css_class }}" role="progressbar" data-target="{{ target }}" aria-valuenow="{% if max is None %}0{% else %}{{ current }}{% endif %}" aria-valuemin="0" aria-valuemax="{% if max is None %}0{% else %}{{ max }}{% endif %}"></div>
                    </div>
                </div>
            </div>
            <div class="col-2 p-0">
                <button type="button" class="btn m-0 align-top btn-link btn-sm manage-player" onclick="virtual_table.add_progress_bar(this);"><i class="fas fa-plus-circle"></i></button>
            </div>
            {% if recoverable is not None %}
                <div class="col-2 p-0"></div>
                <div class="col-10 p-0 text-secondary text-center"><small>(<i class="fas fa-recycle"></i> {% trans "Dégâts récupérables :" %} <span class="recoverable-value" data-recover-target="{{ target_recover }}">{{ recoverable }}</span>)</small></div>
            {% endif %}
        </div>
    </div>
{% endspaceless %}
