{% extends "virtualtable/base.html" %}
{% load static %}
{% load martortags %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Création d'une table" %} - {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'virtualtable/css/simplemde.min.css' %}" />
    {{ block.super }}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'virtualtable/js/simplemde.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'virtualtable/js/virtualtable_manager.js' %}"></script>
{% endblock js %}


{% block content %}
    {% if not user.game_master %}
        <h1 class="mt-3">{% trans "Erreur : Niveau d'accès insuffisant" %}</h1>

        <p>
            {% trans "Vous ne pouvez pas créer de table virtuelle, seul un compte de type MJ le peut." %}
        </p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-4">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.max_character|as_crispy_field }}
                </div>
                <div class="col-5">
                    {{ form.token_valid_duration|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.active_avalon|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.active_faction|as_crispy_field }}
                </div>
                <div class="col-12 knightools-mde">
                    {{ form.description|as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-success">{% trans "Enregistrer" %}</button>
        </form>
    {% endif %}
{% endblock %}