{% extends "virtualtable/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Suppression d'une table" %} - {% endblock %}

{% block content %}
    {% if not object %}
        <h1 class="mt-3">{% trans "Erreur : Table inaccessible" %}</h1>

        <p>
            {% trans "La table a soit déjà été supprimée, soit vous n'en êtes pas le MJ. Seul le MJ peut supprimer une table virtuelle." %}
        </p>
    {% else %}
        <h1 class="mt-3">{% trans "Suppression définitive" %}</h1>
        <form method="post">{% csrf_token %}
            <div class="alert alert-danger">{% blocktrans with name=object.name %}Attention : la suppression d'une table virtuelle est définitive. Êtes-vous sûr de vouloir supprimer la table virtuelle {{ name }} ainsi que les statistiques associées ? {% endblocktrans %}</div>
            <div class="alert alert-info">{% trans "Notez que si vous confirmez et que des joueurs sont connectés à la table virtuelle, ils seront déconnectés et ramenés à la liste des tables virtuelles." %}</div>
            <a href="{% url 'virtualtable:vt_list' %}" class="btn btn-primary">{% trans "Retour" %}</a>
            <input class="btn btn-danger float-right" type="submit" value="{% trans 'Confirmer' %}">
        </form>
    {% endif %}
{% endblock %}