{% load i18n %}
{% load static %}

{% spaceless %}
    <div class="col-xl-6 col-12 mb-4" data-display="{% if not character.editable_by_user and character.player != user %}compressed{% else %}expanded{% endif %}" data-vtp="{{ character.id }}" data-editable="{{ character.editable_by_user }}" data-classes-to-show="{{ character.classes_to_show }}" data-edit-level="{{ character.edit_level }}" data-gest-advantage="{{ character.gest_advantage }}" data-ignore-health-loss="{{ character.ignore_health_loss_by_armour }}">
        <div class="card">
            <div class="card-header text-center">
                <div class="row">
                    <div class="col-3 p-0 pl-xl-3 text-left">
                        {% if character.virtual_table.game_master == user %}
                            <div class="btn-group btn-group-sm" role="group" aria-label="Raccourcis">
                                <button type="button" class="btn btn-secondary btn-knightools-mng damage-vtp" title="{% trans 'Cible pour les prochains dégâts ?' %}" onclick="virtual_table.toggle_damage_vtp_target(this);"><i class="fas fa-crosshairs"></i></button>
                            </div>
                        {% else %}
                            <div class="d-none {% if character.player != user %}d-sm-block d-xl-none{% endif %}">
                                <button type="button" class="d-block btn btn-sm btn-primary" onclick="virtual_table.toggle_display(this);"><i class="toggle-display fas fa-expand-alt"></i></i></button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-6 p-0">
                        <span class="character-name">
                            {% if not character.editable_by_user %}
                                {{ character.name }}
                            {% else %}
                                <a href="#" data-toggle="modal" data-target="#updateName">{{ character.name }}</a>
                            {% endif %}
                        </span>
                    </div>
                    <div class="col-3 p-0 pr-xl-3 text-right">
                        {% if character.editable_by_user %}
                            <a class="btn btn-sm" href="#" data-toggle="modal" data-target="#config-vtp"><i class="fas fa-cog"></i></a>
                        {% endif %}
                        <span class="dot grey"></span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                
                <ul class="nav nav-tabs nav-fill" id="vtp{{ character.id }}-tab" role="tablist">
                    <li class="nav-item customizable-display tab-status">
                        <a class="nav-link px-1 active text-center" id="status{{ character.id }}-tab" data-toggle="tab" href="#status{{ character.id }}" role="tab" aria-controls="status{{ character.id }}" aria-selected="true">
                            <i class="fas fa-heartbeat"></i>
                        </a>
                    </li>
                    <li class="nav-item customizable-display tab-stock">
                        <a class="nav-link px-1 text-center" id="stock{{ character.id }}-tab" data-toggle="tab" href="#stock{{ character.id }}" role="tab" aria-controls="stock{{ character.id }}" aria-selected="true">
                            <i class="fas fa-toolbox"></i>
                        </a>
                    </li>
                    <li class="nav-item customizable-display tab-legend">
                        <a class="nav-link px-1 text-center" id="legend{{ character.id }}-tab" data-toggle="tab" href="#legend{{ character.id }}" role="tab" aria-controls="legend{{ character.id }}" aria-selected="true">
                            <i class="fas fa-trophy"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content mt-2" id="vtp{{ character.id }}-tab-content">
                    <div class="tab-pane fade active show" id="status{{ character.id }}" role="tabpanel" aria-labelledby="status{{ character.id }}-tab">
                        <div class="row">
                            <div class="col-12 col-md-6 customizable-display bar-health-points">
                                <div class="hp-bar calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/progress_bar.html' with target="health_points" attr_code="hp" css_class="bg-health" label="PS" full_label="Points de Santé" max=character.max_health_points current=character.current_health_points only %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 customizable-display bar-armour-points">
                                <div class="ap-bar calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/progress_bar.html' with target="armour_points" attr_code="ap" css_class="bg-armour" label="PA" full_label="Points d'Armure'" max=character.max_armour_points current=character.current_armour_points only %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 customizable-display bar-energy-points">
                                <div class="ep-bar calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/progress_bar.html' with target="energy_points" attr_code="ep" css_class="bg-energy" label="PE" full_label="Points d'Énergie" max=character.max_energy_points current=character.current_energy_points recoverable=character.lost_energy_counter target_recover="energy" only %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 customizable-display bar-hope-points">
                                <div class="hop-bar calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/progress_bar.html' with target="hope_points" attr_code="hop" css_class="bg-hope" label="PES" full_label="Points d'ESpoir" max=character.max_hope_points current=character.current_hope_points recoverable=character.lost_hope_counter target_recover="hope" only %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 customizable-display counter-force-field">
                                <div class="ff-val calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/character_value.html' with global_class="force-field" attr_code="ff" label="CdF" full_label="Champ de Force" default_value=character.default_force_field current_value=character.current_force_field only %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 customizable-display counter-aegis">
                                <div class="ae-val calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/character_value.html' with global_class="aegis" attr_code="ae" label="Egd" full_label="Égide" default_value=character.default_aegis current_value=character.current_aegis only %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 customizable-display armour-psion">
                                <div class="flux-bar calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/progress_bar.html' with target="flux_points" attr_code="flux" css_class="bg-flux" label="Flux" full_label="Points de Flux" max=character.max_flux_points current=character.current_flux_points only %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 customizable-display armour-warlock">
                                <div class="paradox-diff calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/character_value.html' with global_class="paradox-difficulty" attr_code="pard" label="Prdx" full_label="Difficulté test de paradoxe temporel"  default_value=0 current_value=character.time_paradox_difficulty only %}
                                </div>
                            </div>
                            <div class="col-12"></div>
                            <div class="col-12 col-md-6 customizable-display armour-shaman">
                                <div class="imp-bar calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/progress_bar.html' with target="impregnation_points" attr_code="imp" css_class="bg-impregnation" label="Imp." full_label="Niveau d'Imprégnation" max=character.max_impregnation_points current=character.current_impregnation_points only %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 customizable-display armour-shaman">
                                <div class="imp-diff calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/character_value.html' with global_class="impregnation-difficulty" attr_code="impd" label="Diff." full_label="Difficulté test d'imprégnation" default_value=0 current_value=character.impregnation_difficulty only %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="stock{{ character.id }}" role="tabpanel" aria-labelledby="stock{{ character.id }}-tab">
                        <div class="row">
                            <div class="col-12 col-md-6 customizable-display bar-health-nods">
                                <div class="hn-bar calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/progress_bar.html' with target="health_nod" attr_code="hn" css_class="bg-health badge-stock" label="Nod S" full_label="Nods de Santé" classic_badge=True max=character.max_health_nod current=character.current_health_nod only %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 customizable-display bar-armour-nods">
                                <div class="an-bar calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/progress_bar.html' with target="armour_nod" attr_code="an" css_class="bg-armour badge-stock" label="Nod A" full_label="Nods d'Armure" classic_badge=True max=character.max_armour_nod current=character.current_armour_nod only %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 customizable-display bar-energy-nods">
                                <div class="en-bar calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/progress_bar.html' with target="energy_nod" attr_code="en" css_class="bg-energy badge-stock" label="Nod E" full_label="Nods d'Énergie" classic_badge=True max=character.max_energy_nod current=character.current_energy_nod only %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 customizable-display bar-grenades-stock">
                                <div class="gi-bar calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/progress_bar.html' with target="grenade_stock" attr_code="gs" css_class="bg-grenade badge-stock" label="Gr. I" full_label="Grenades Intelligentes" classic_badge=True max=character.max_grenade_stock current=character.current_grenade_stock only %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="legend{{ character.id }}" role="tabpanel" aria-labelledby="legend{{ character.id }}-tab">
                        <div class="row">
                            <div class="col-12 col-md-6 customizable-display bar-hero-points">
                                <div class="hep-bar calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/progress_bar.html' with target="heroism_points" attr_code="hep" css_class="bg-hep" label="PH" full_label="Points d'Héroïsme" max=character.max_heroism_points current=character.current_heroism_points only %}
                                </div>
                            </div>
                            <div class="col-12"></div>
                            <div class="col-12 col-md-6 customizable-display bar-glory-points">
                                <div class="hn-bar calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/progress_bar.html' with target="gp" attr_code="gp" css_class="bg-gp" label="PG" full_label="Points de Gloire" max=character.total_gp current=character.current_gp only %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 customizable-display bar-experience-points">
                                <div class="an-bar calc-attribute mb-2 pb-2">
                                    {% include 'virtualtable/progress_bar.html' with target="xp" attr_code="xp" css_class="bg-xp" label="PX" full_label="Points d'eXpérience" max=character.total_xp current=character.current_xp only %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row mb-2">
                    <div class="modal" id="result-history{{ character.id }}" tabindex="-1" role="dialog" aria-labelledby="{% trans 'Historique des tests' %}" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">{% trans 'Historique des jets du personnage' %} {{ character.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="toggle-history-buttons">
                                        <button type="button" class="btn btn-info" onclick="virtual_table.toggle_history(this);" data-action="show"><i class="fas fa-eye"></i> {% trans 'Afficher tous les résultats' %}</button>
                                        <button type="button" class="btn btn-info d-none" onclick="virtual_table.toggle_history(this);" data-action="hide"><i class="fas fa-eye-slash"></i> {% trans 'Afficher les derniers résultats' %}</button>
                                    </div>
                                    <div class="history-results">
                                        {% if character.player == user or character.virtual_table.game_master == user %}
                                            {% for roll in character.get_last_rolls %}
                                                {% include 'virtualtable/vt_detail_roll.html' with roll=roll user=user character=character only %}
                                            {% endfor %}
                                        {% else %}
                                            {% for roll in character.get_last_public_rolls %}
                                                {% include 'virtualtable/vt_detail_roll.html' with roll=roll user=user character=character only %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    {% if character.player == user %}
                        <div class="col-6 text-center">
                            <div class="input-group input-group-sm">
                                <input type="number" class="numberinput form-control die-number" min="0" max="999" aria-label="{% trans 'Nombre de dés' %}" placeholder="{% trans 'Nb dés' %}">
                                <div class="input-group-append">
                                    <label class="input-group-text">D6</label>
                                </div>
                                <input type="number" class="numberinput form-control bonus-number" min="-999" max="999" aria-label="{% trans 'Overdrives' %}" placeholder="{% trans 'Bonus' %}">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary btn-share active" title="{% trans 'Partager le résultat (si désactivé, seul vous et le MJ pourrez voir le résultat)' %}" aria-pressed="true" data-toggle="button" >
                                        <i class="fas fa-share-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 text-center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="{% trans 'Test area'%}">
                                <button type="button" class="btn btn-sm btn-success roll-cmb" onclick="virtual_table.roll_combo(this);"><i class="fas fa-dice"></i> {% trans "Combo" %}</button>
                                <button type="button" class="btn btn-sm btn-warning roll-dmg" onclick="virtual_table.roll_damage(this);"><i class="fas fa-skull"></i> {% trans "Dégâts" %}</button>
                                <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#result-history{{character.id}}"><i class="fas fa-history"></i> {% trans "Histo" %}</button>
                            </div>
                            <div class="btn-group btn-group-sm" role="group" aria-label="{% trans 'Test area'%}">
                                <button type="button" class="btn btn-sm btn-success roll-spr" onclick="virtual_table.roll_support(this);" title="{% trans 'Aider au test d\'un autre chevalier. Conséquence : OD (bonus) désactivé, exploit désactivé, échec critique désactivé' %}"><i class="fas fa-people-carry"></i> {% trans "Support" %}</button>
                                <button type="button" class="btn btn-sm btn-info draw-destiny" onclick="virtual_table.draw_destiny(this);"><i class="fas fa-hand-sparkles"></i> {% trans "Carte du destin" %}</button>
                            </div>
                        </div>
                    {% else %}
                        <div class="col toggle-display-sensitive text-center"></div>
                        <div class="col text-center">
                            <button type="button" class="d-block btn btn-sm btn-block btn-secondary" data-toggle="modal" data-target="#result-history{{character.id}}"><i class="fas fa-history"></i><span class="toggle-display-inline-sensitive"> {% trans "Histo" %}</span></button>
                        </div>
                    {% endif %}
                </div>
                <div class="row mb-1">
                    <div class="col-12 text-center result-last-test">
                        <span class="d-none special-effect fail"><i class="text-danger mr-1 fas fa-poo"></i> {% trans "Echec critique !" %} </span>
                        <span class="d-none special-effect exploit"><i class="text-success mr-1 fas fa-trophy"></i> {% trans "Exploit" %} - </span>
                        <span class="d-none special-effect combo"><i class="mr-1 fas fa-dice"></i></span>
                        <span class="d-none special-effect damage"><i class="text-warning mr-1 fas fa-skull"></i></span>
                        <span class="test-combo mr-1"></span>
                        <span class="test-result"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endspaceless %}
