{% load i18n %}

<ul>
    {% for vote in votes %}
        <li>{{ vote.player.name }} : {{ vote.affinity }}</li>
    {% endfor %}
    <li class="font-weight-bold font-italic">{% trans "Moyenne" %} {{ vote_avg }}</li>
</ul>