{% load i18n %}

<form>
    <div class="accordion" id="faction-reminders">
        {% if node.public_description %}
            <button id="btn-collapse-reminder-public-desc" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-reminder-public-desc" aria-expanded="false" aria-controls="collapse-reminder-public-desc">
                {% trans "Description (PJ)" %}
            </button>
            <div id="collapse-reminder-public-desc" class="collapse break-lines" aria-labelledby="faction-reminder-public-desc" data-parent="#faction-reminders">{{ node.public_description }}</div>
        {% endif %}
        {% if node.gm_description %}
            <button id="btn-collapse-reminder-gm-desc" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-reminder-gm-desc" aria-expanded="false" aria-controls="collapse-reminder-gm-desc">
                {% trans "Description (MJ)" %}
            </button>
            <div id="collapse-reminder-gm-desc" class="collapse break-lines" aria-labelledby="faction-reminder-gm-desc" data-parent="#faction-reminders">{{ node.gm_description }}</div>
        {% endif %}
        <div class="text-center" id="faction-form-separator-desc-secrets"><div class="knight-hr my-3 d-inline-block w-50"></div></div>
    </div>
    
    <div>
        <label for="faction-discovered-secrets">{% trans "Secrets découverts par la table" %}</label>
        <textarea class="w-100" rows="5" name="faction-discovered-secrets" id="faction-discovered-secrets">{{ node.discovered_secrets }}</textarea>
        <div class="text-center"><div class="knight-hr my-3 d-inline-block w-50"></div></div>
    </div>
    <div>
        <table class="table table-sm text-center">
            <thead class="thead-light">
                <tr>
                    <th>{% trans "Faction" %}</th>
                    <th>{% trans "Niveaux de relation" %}</th>
                    <th>{% trans "Relation visible" %}</th>
                    <th>{% trans "Effet" %}</th>
                    <th>{% trans "Effet visible" %}</th>
                </tr>
            </thead>
            <tbody id="faction-relations">
                {% for key, faction in factions.items %}
                    <tr id="line-faction-source-{{faction.id}}">
                        <td class="align-middle" rowspan="2">
                            {{ faction.name }}
                            <br>
                            <label><input type="checkbox" id="toggle-relation-{{faction.id}}"  {% if faction.active %}checked{% endif %} toggle-id="{{faction.id}}" onchange="virtual_table_cy.toggle_relation(this);"> {% trans "Relation active ?" %}</label>
                        </td>
                        <td class="align-middle">
                            <div class="my-3 level faction-active {% if not faction.active %}d-none{% endif %}">
                                <span>{{ node.name }}</span> <i class="fas fa-arrow-alt-circle-right"></i> <span>{{ faction.name }}</span>
                                <div class="slider mt-3">
                                    <div class="custom-handle ui-slider-handle">{{ faction.source_level }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">
                            <input type="checkbox" {% if faction.source_visible_player %}checked{% endif %} class="edge-visible faction-active {% if not faction.active %}d-none{% endif %}">
                        </td>
                        <td class="text-justify align-middle">
                            <div class="my-1 effect-description faction-active {% if not faction.active %}d-none{% endif %}">
                                <ul>
                                    {% for effect in faction.source_effects %}
                                        <li class="text-{% if effect.level > 0 %}success{% else %}danger{% endif %}">
                                            <i class="fa-solid fa-eye faction-effect-tooltip"></i> ({{ effect.level }}) {{ effect.level_name }}
                                            <div class="d-none effect-resume">
                                                {% if effect.effect_name %}
                                                    <h6>{{ effect.effect_name }}</h6>
                                                {% endif %}
                                                {% if effect.effect_description %}
                                                    <p>{% trans 'Effet (visible PJ si coché) :' %} {{ effect.effect_description }}</p>
                                                    {% if effect.level_memo %}
                                                        <div class="text-center"><div class="knight-hr my-3 d-inline-block w-50"></div></div>
                                                    {% endif %}
                                                {% endif %}
                                                {% if effect.level_memo %}
                                                    <p>{% trans 'Memo MJ :' %} {{ effect.level_memo }}</p>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                        <td class="align-middle">
                            {% if faction.source_effects %}
                                <input type="checkbox" {% if faction.source_visible_effect %}checked{% endif %} class="effect-visible faction-active {% if not faction.active %}d-none{% endif %}">
                            {% endif %}
                        </td>
                    </tr>
                    <tr id="line-faction-target-{{faction.id}}">
                        <td class="align-middle">
                            <div class="my-3 level faction-active {% if not faction.active %}d-none{% endif %}">
                                <span>{{ node.name }}</span> <i class="fas fa-arrow-alt-circle-left"></i> <span>{{ faction.name }}</span>
                                <div class="slider mt-3">
                                    <div class="custom-handle ui-slider-handle">{{ faction.target_level }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">
                            <input type="checkbox" {% if faction.target_visible_player %}checked{% endif %} class="edge-visible faction-active {% if not faction.active %}d-none{% endif %}">
                        </td>
                        <td class="text-justify align-middle">
                            <div class="my-1 effect-description faction-active {% if not faction.active %}d-none{% endif %}">
                                <ul>
                                    {% for effect in faction.target_effects %}
                                        <li class="text-{% if effect.level > 0 %}success{% else %}danger{% endif %}">
                                            <i class="fa-solid fa-eye faction-effect-tooltip"></i> ({{ effect.level }}) {{ effect.level_name }}
                                            <div class="d-none effect-resume">
                                                {% if effect.effect_name %}
                                                    <h6>{{ effect.effect_name }}</h6>
                                                {% endif %}
                                                {% if effect.effect_description %}
                                                    <p>{% trans 'Effet (visible PJ si coché) :' %} {{ effect.effect_description }}</p>
                                                    {% if effect.level_memo %}
                                                        <div class="text-center"><div class="knight-hr my-3 d-inline-block w-50"></div></div>
                                                    {% endif %}
                                                {% endif %}
                                                {% if effect.level_memo %}
                                                    <p>{% trans 'Memo MJ :' %} {{ effect.level_memo }}</p>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                        <td class="align-middle">
                            {% if faction.target_effects %}
                                <input type="checkbox" {% if faction.target_visible_effect %}checked{% endif %} class="effect-visible faction-active {% if not faction.active %}d-none{% endif %}">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>