{% extends "virtualtable/base.html" %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Aide gestion des tables" %} - {% endblock %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    
        
    <div id="carouselHelp" class="carousel slide mt-3" data-ride="carousel" data-interval="false" data-wrap="false">
        <a class="btn btn-lg btn-link float-left" href="#carouselHelp" role="button" data-slide="prev">
            <i class="fas fa-arrow-circle-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="btn btn-lg btn-link float-right" href="#carouselHelp" role="button" data-slide="next">
            <i class="fas fa-arrow-circle-right"></i>
            <span class="sr-only">Next</span>
        </a>
        <div class="carousel-inner">
            <div class="carousel-item text-justify active">
                <h2>{% trans "Présentation de la table virtuelle" %}</h2>
                <p>
                    {% blocktrans trimmed %}
                        La table virtuelle permet aux joueurs d'une même table de savoir d'un coup d'œil les jauges importantes de ses co-équipiers : état de santé, dégâts sur l'armure, niveau d'énergie, espoir restant ainsi que ses stocks ou son champ de force, entre autres.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                        Pour le MJ de la table, il s'agit d'un outil de gestion des dégâts avec prise en compte des effets potentiels des armes.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                        Le tout se met à jour en temps réel, et plusieurs niveaux d'accès sont possibles.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                        Seuls les comptes ayant un accès MJ peuvent créer des tables virtuelles. Si vous ne l'avez pas fait et que vous souhaitez être MJ, rendez-vous dans votre profil et cochez la case "MJ". Vous devrez répondre correctement à une question dont la réponse se trouve dans le Livre de Base (LdB). Suivez les instructions. Si vous vous trompez, une autre question vous sera posée. Après 5 erreurs, votre compte ne pourra plus être MJ. N'hésitez pas à contacter directement l'équipe administrant le site (sur discord, twitter ou en MP sur le forum) pour demander à ce que votre compte soit débloqué si c'est le cas.
                    {% endblocktrans %}
                </p>
            </div>
            {% if user.game_master %}
                <div class="carousel-item text-justify">
                    <h2>{% trans "Création d'une table virtuelle" %}</h2>
                    <p>
                        {% blocktrans trimmed %}
                            Seul un compte ayant l'accès MJ peut créer une table virtuelle. Pour ce faire, depuis la liste des tables virtuelles, cliquez sur le bouton "Créer".
                        {% endblocktrans %}
                    </p>
                    {% with 'virtualtable/img/help/'|add:LANGUAGE_CODE|add:'/vt_create.1.png' as img %}
                        <p>
                            <a href="{% static img %}" target="_blank"><img src="{% static img %}" class="w-100 border"></a>
                        </p>
                    {% endwith %}
                    <p>
                        {% trans "Vous arrivez sur l'interface de création à proprement parler détaillée ci-après." %}
                    </p>
                    {% with 'virtualtable/img/help/'|add:LANGUAGE_CODE|add:'/vt_create.2.png' as img %}
                        <p>
                            <a href="{% static img %}" target="_blank"><img src="{% static img %}" class="w-100 border"></a>
                        </p>
                    {% endwith %}
                    <p>
                        {% trans "Voici en détail les champs et leur utilité :" %}
                    </p>
                    <ol>
                        <li>
                            {% blocktrans %}<strong>Nom : </strong>Le nom de votre table virtuelle. Dans la liste des tables virtuelles, ce sera ce champ qui servira à l'ordonnancement ; il sera aussi en titre visible lors des parties.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}<strong>Nb. Personnages max : </strong>Le nombre maximum de personnage que peut accepter la table virtuelle. Au delà, si quelqu'un tente de la rejoindre, un message d'erreur s'affichera indiquant qu'elle est complète.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}<strong>Accessible pendant : </strong>Durée de validité du lien d'invitation. Si le lien est utilisé après cette période, une erreur s'affiche indiquant que l'invitation a expiré. Si vous ne souhaitez pas de durée de validité, choisissez la dernière option "Toujours" pour que le lien soit toujours valide.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}<strong>Description : </strong>Une description un peu plus détaillée de la table. Cette description sera visible lors des parties ainsi que dans la liste des tables virtuelles. Vous pouvez faire de la mise en forme en utilisant le format <a href="https://www.markdownguide.org/cheat-sheet" target="_blank">Markdown</a>.{% endblocktrans %}
                        </li>
                    </ol>
                    <p>
                        {% trans "Une fois validée, la table est enregistrée et vous retournez à la liste des tables virtuelles." %}
                    </p>
                </div>
            {% endif %}
            <div class="carousel-item text-justify">
                <h2>{% trans "Récapitulatif de vos tables virtuelles" %}</h2>
                {% with 'virtualtable/img/help/'|add:LANGUAGE_CODE|add:'/vt_list.png' as img %}
                    <p>
                        <a href="{% static img %}" target="_blank"><img src="{% static img %}" class="w-100 border"></a>
                    </p>
                {% endwith %}
                <p>
                    {% blocktrans trimmed %}
                        La colonne invitation affiche le lien pour rejoindre la table virtuelle. Cliquez sur le bouton <i class="fas fa-copy"></i> pour copier le lien et envoyez-le aux autres joueurs devant rejoindre la table. Si l'invitation a expiré, la colonne indique "<strong>Fermée</strong>". Vous avez ensuite le nom de la table virtuelle ainsi que sa description, puis vient la liste des personnages ayant déjà rejoint la table.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans trimmed %}
                        Il existe deux types de lignes dans la liste des tables virtuelles : celles dont vous êtes le propriétaire (si vous avez un compte MJ) et celles que vous avez simplement rejoint. Les boutons dans la colonne Actions diffèrent légèrement selon votre état dans la table :
                    {% endblocktrans %}
                </p>
                <ul class="fa-ul">
                    <li class="text-success"><span class="fa-li"><i class="fas fa-eye"></i></span>
                        <span>
                            {% blocktrans %}Bouton disponible dans tous les cas, il vous permet de jouer à cette table.{% endblocktrans %}
                        </span>
                    </li>
                    <li class="text-danger"><span class="fa-li"><i class="fas fa-cog"></i></span>
                        <span>
                            {% blocktrans %}Bouton disponible uniquement si vous êtes propriétaire de la table, il vous permet d'en modifier les paramètres ou la description. Vous pouvez aussi y gérer vos joueurs.{% endblocktrans %}
                        </span>
                    </li>
                    <li class="text-danger"><span class="fa-li"><i class="fas fa-trash"></i></span>
                        <span>
                            {% blocktrans %}Bouton disponible uniquement si vous êtes propriétaire de la table, il vous permet de supprimer complètement la table virtuelle, ainsi que les personnages qui y sont rattachés. Attention, l'action est irréversible.{% endblocktrans %}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="carousel-item text-justify">
                <h2>{% trans "Rejoindre une table virtuelle" %}</h2>
                {% with 'virtualtable/img/help/'|add:LANGUAGE_CODE|add:'/vt_join.png' as img %}
                    <p>
                        <a href="{% static img %}" target="_blank"><img src="{% static img %}" class="w-100 border"></a>
                    </p>
                {% endwith %}
                <p>
                    {% blocktrans trimmed %}
                        Lorsque l'on vous donne le lien pour rejoindre une table, vous arrivez sur un formulaire afin de créer votre personnage qui sera présent sur cette table. Tous les champs de valeurs sont sur le même principe avec une valeur actuelle et soit une valeur maximale, soit une valeur par défaut dans le cadre du CdF. Ces valeurs peuvent être modifiées une fois dans la partie, par vous ou le MJ (ou toute autre personne ayant la possibilité de modifier votre personnage).
                    {% endblocktrans %}
                </p>
                <p>
                    {% trans "Voici en détail les champs et leur signification :" %}
                </p>
                <ol>
                    <li>
                        {% blocktrans %}<strong>Nom : </strong>Le nom de votre personnage, afin que le MJ et les autres joueurs puissent l'identifier. Note : vous pourrez le modifier plus tard directement depuis la partie, en cliquant dessus.{% endblocktrans %}
                    </li>
                    <li>
                        {% blocktrans %}<strong>Points de santé : </strong>Les PS de votre personnage, avec leur valeur actuelle et leur valeur max. Ce champ sera une jauge une fois sur la table et se remplira ou se videra en direct durant la partie. Vous pourrez configurer de ne pas la voir, ou même modifier le montant max ou actuel directement depuis la table virtuelle.{% endblocktrans %}
                    </li>
                    <li>
                        {% blocktrans %}<strong>Points d'armure : </strong>Les PA de votre personnage, avec leur valeur actuelle et leur valeur max. Comme pour les points de santé, la jauge évoluera au fur et à mesure de la partie et vous pourrez la configurer ou la masquer directement depuis la table virtuelle.{% endblocktrans %}
                    </li>
                    <li>
                        {% blocktrans %}<strong>Points d'énergie : </strong>Les PE de votre personnage, avec leur valeur actuelle et leur valeur max. Là encore, la jauge évoluera en direct durant la partie et cette jauge peut aussi être configurée plus tard ou cachée depuis la table virtuelle.{% endblocktrans %}
                    </li>
                    <li>
                        {% blocktrans %}<strong>Points d'espoir : </strong>Les PES de votre personnage, toujours représenté par la valeur actuelle possédée et la valeur max. Le champ est pré-rempli avec la valeur 50, mais vous pouvez remplacer la valeur si vous avez des bonus divers et variés. Cette jauge évolue en direct durant la partie, et elle aussi peut être configurée ultérieurement ou cachée depuis la table virtuelle.{% endblocktrans %}
                    </li>
                    <li>
                        {% blocktrans %}<strong>Champ de force : </strong>CdF du personnage. Contrairement aux autres champs, celui-ci est une valeur numérique pouvant augmenter ou baisser indépendamment de sa valeur par défaut. Ce n'est donc pas une jauge. La valeur "actuelle" sera toujours celle prise en compte, la valeur par défaut permet de revenir rapidement vers la valeur "classique", sans les divers bonus temporaires que le personnage recevra durant le scénario.{% endblocktrans %}
                    </li>
                </ol>
                <p>
                    {% blocktrans %}Afin d'alléger l'accès à la table, seuls ces données sont demandées, mais bien d'autres sont disponibles depuis la table virtuelle. Ce sera abordé sous peu.{% endblocktrans %}
                </p>
                <p>
                    {% trans "Lorsque vous avez fini de tout saisir, vous pouvez Rejoindre la partie : cela vous ramène à la liste des tables virtuelles." %}
                </p>
            </div>
            <div class="carousel-item text-justify">
                <h2>{% trans "Partie en table virtuelle (PJ) : Vue d'ensemble" %}</h2>
                {% with 'virtualtable/img/help/'|add:LANGUAGE_CODE|add:'/vt_detail.player.png' as img %}
                    <p>
                        <a href="{% static img %}" target="_blank"><img src="{% static img %}" class="w-100 border"></a>
                    </p>
                {% endwith %}
                <p>
                    {% blocktrans trimmed %}
                        Lorsque vous ouvrez le détail d'une table virtuelle, cela vous donne une vue d'ensemble des personnages et de leur état. Sauf paramétrage contraire du MJ, vous ne pouvez modifier que les personnages que vous avez créé pour la partie. Le MJ peut cependant donner accès à tout le monde en modification sur un personnage ou, au contraire, n'autoriser la modification d'un personnage que pour lui-même, même si vous en êtes le propriétaire.
                    {% endblocktrans %}
                </p>
                <ol>
                    <li>
                        {% blocktrans %}<strong>Nom :</strong> Nom de la table virtuelle sur laquelle vous êtes.{% endblocktrans%}
                    </li>
                    <li>
                        {% blocktrans %}<strong>Nom du personnage :</strong> Si vous en êtes le propriétaire, vous pouvez cliquer dessus pour qu'une boîte de dialogue vous permette de le renommer. Les divers personnages sont triés de la manière suivante : d'abord apparaissent ceux dont vous êtes propriétaire et que vous pouvez modifier, puis par ordre alphabétique. Si un joueur renomme son personnage, la réorganisation se fait automatiquement.{% endblocktrans%}
                    </li>
                    <li>
                        {% blocktrans %}<strong>Onglet thématique :</strong> Ils sont au nombre de 3 mais peuvent être cachés selon la préférence du joueur/MJ pour chaque fiche indépendamment. Ces onglets regroupent les valeurs par thématique.{% endblocktrans %}
                        <ul>
                            <li>{% blocktrans %}<strong><i class="fas fa-heartbeat"></i> Status :</strong> Regroupe les jauges utiles en combat ou dans la majorité des cas, à savoir les points de santé (PS), points d'armure (PA), points d'énergie (PE), points d'espoir (PES), champ de force (CdF), égide (Egd) et les jauges spécifiques à certaines armures (shaman avec imprégnation, psion avec flux, warlock avec paradoxe temporel). Ces données sont plus détaillées à la page suivante.{% endblocktrans %}</li>
                            <li>{% blocktrans %}<strong><i class="fas fa-toolbox"></i> Stock :</strong> Regroupe les consommables qui se rechargent entre chaque mission. Les nods et les jauges correspondantes de l'onglet status ont la même couleur, mais afin de ne pas les confondre le nom n'est pas le même style, il est un peu plus rectangulaire dans l'onglet stock. Ces données sont automatiquement renseignées avec les valeurs par défaut indiquées dans le Livre de Base, mais peuvent être personnalisées. Cet onglet regroupe les nods de santé (Nod S), nods d'armure (Nod A), nods d'énergie (Nod E) et les grenades intelligentes (Gr. I).{% endblocktrans %}</li>
                            <li>{% blocktrans %}<strong><i class="fas fa-trophy"></i> Légende :</strong> Regroupe les jauges ayant trait à la légende du chevalier, à savoir les points d'héroïsme (PH), points de gloire (PG) et points d'expérience (PX).{% endblocktrans %}</li>
                        </ul>
                    </li>
                    <li>
                        {% blocktrans %}<strong>Liste des jauges :</strong> Dans cette portion de l'interface sont regroupées les jauges relatives à l'onglet thématique en cours de visualisation. Ces jauges peuvent être modifiées si la fiche est publiquement modifiable ou si vous en êtes le propriétaire. Si vous n'avez pas les droits, les boutons <i class="fas fa-plus-circle"></i> et <i class="fas fa-minus-circle"></i> n'apparaissent pas. Dans certains cas, ils peuvent apparaître alors que vous n'avez pas accès à la modification du personnage, mais cliquer dessus sera sans effet.{% endblocktrans%}
                    </li>
                    <li>
                        {% blocktrans %}<strong>Gestionnaire de jets :</strong> Uniquement visible lorsque la fiche vous appartient directement. Les joueurs peuvent lancer les dés pour au choix faire un test (bouton <i class="fas fa-dice"></i> Combo) ou un jet de dégâts (bouton <i class="fas fa-skull"></i> Dégâts). Le jet de combo va calculer le nombre de réussites selon la règle de Knight, relancer le jet si un exploit est déclenché et ajouter les bonus fixes en tant qu'OD ou réussite automatique si le jet n'est pas un échec critique. Le jet de dégâts va juste additionner les faces des dés et y ajouter les bonus. À noter que chaque jet est historisé et consultable par le bouton <i class="fas fa-history"></i> Histo, ce bouton étant accessible pour tout le monde tout le temps. Chaque jet peut être public si le bouton <i class="fas fa-share-alt"></i> est actif, auquel cas tout le monde peut voir le résultat, ou privé si le bouton est inactif, auquel cas seul le lanceur du jet et le MJ voient le résultat. La limite de dés est de 999, tout comme la limite du bonus. Les historiques sont nettoyés après un certain temps.{% endblocktrans%}
                    </li>
                    <li>
                        {% blocktrans %}<strong><i class="fas fa-hand-sparkles"></i> Carte du destin :</strong> Ce bouton permet de tirer une carte du destin. Aucun automatisme n'est mis en place, la table virtuelle ne pouvant pas savoir si une carte du destin est déjà dans la main d'un autre joueur ou non. Le tirage n'est pas historisé, et le texte de la carte peut être visualisé en cliquant/survolant le lien "Voir le texte" qui apparaît sous le nom de la carte tirée.{% endblocktrans%}
                    </li>
                    <li>
                        {% blocktrans %}<strong><i class="fas fa-cog"></i> Configuration : </strong>Ce bouton ouvre une boîte de dialogue permettant de configurer les jauges à visualiser pour cette fiche. Plus de détails sont donnés à la page suivante.{% endblocktrans%}
                    </li>
                    <li>
                        {% blocktrans %}<strong>Indicateur de connexion :</strong> Ce rond indique si le propriétaire de ce personnage est actuellement connecté à la table virtuelle. Vert pour connecté, gris pour déconnecté.{% endblocktrans%}
                    </li>
                    <li>
                        {% blocktrans %}<strong>Informations sur la table :</strong> Description détaillée du MJ concernant cette table. Par défaut, le cadre est replié afin de gagner de la place. Notez qu'il est mis à jour en temps réel si le MJ modifie la description.{% endblocktrans%}
                    </li>
                </ol>
            </div>
            <div class="carousel-item text-justify">
                <h2>{% trans "Partie en table virtuelle (PJ) : Jauges" %}</h2>
                {% with 'virtualtable/img/help/'|add:LANGUAGE_CODE|add:'/vt_detail.gauge.png' as img %}
                    <p class="text-center">
                        <a href="{% static img %}" target="_blank"><img src="{% static img %}" class="border"></a>
                    </p>
                {% endwith %}
                <ol>
                    <li>
                        {% blocktrans %}<strong>Nom de la jauge :</strong> Il s'agit du nom "raccourci", pour des raisons de présentation. Survoler le nom permet d'avoir la dénomination complète (exemple : Points d'Énergie pour PE).{% endblocktrans%}
                    </li>
                    <li>
                        {% blocktrans %}<strong>Compteur numérique :</strong> Affiche la valeur actuelle et, si il s'agit d'une valeur en jauge et non pas juste d'un compteur, la valeur max. Cliquez sur cette partie pour modifier directement les valeurs numériques, grâce à une boîte de dialogue détaillée un peu plus bas. Si la donnée n'est pas renseignée, le site indique "à configurer" avec un encart jaune.{% endblocktrans%}
                    </li>
                    <li>
                        {% blocktrans %}<strong><i class="fas fa-minus-circle"></i> Bouton d'ajustement moins :</strong> Retire un point à votre valeur actuelle. Une fois atteint 0, le bouton devient sans effet.{% endblocktrans%}
                    </li>
                    <li>
                        {% blocktrans %}<strong><i class="fas fa-redo"></i> Bouton retour au défaut :</strong> Ce bouton n'est accessible qu'aux compteurs, et donc pas aux jauges. Il permet de revenir en un clic à la valeur "par défaut" prévu pour cette donnée.{% endblocktrans%}
                    </li>
                    <li>
                        {% blocktrans %}<strong><i class="fas fa-plus-circle"></i> Bouton d'ajustement plus :</strong> Ajoute un point à votre valeur actuelle. Sur une jauge, une fois la valeur max atteinte, le bouton devient sans effet. Sur les compteurs, le maximum atteignable est 65535, une valeur incohérente par rapport au jeu et que vous ne devriez jamais atteindre.{% endblocktrans%}
                    </li>
                    <li>
                        {% blocktrans %}<strong><i class="fas fa-recycle"></i> Compteur de récupération :</strong> Lorsque le MJ génère des dégâts sur les jauges possédant un compteur de récupération, et que ces dégâts peuvent être récupérés à la mort de l'ennemi selon la règle 1D6 tous les 6 points perdus, ce compteur augmente automatiquement. Le MJ a ensuite la possibilité de déclencher la récupération quand il le souhaite, depuis son gestionnaire de dégâts. Le fonctionnement côté MJ sera détaillé plus tard sur cette aide.{% endblocktrans%}
                    </li>
                </ol>
                <p>
                    {% blocktrans %}En cliquant sur la valeur d'une donnée, vous ouvrez une boîte de dialogue permettant de la modifier directement au lieu de passer par des ajustement d'un point par un point.{% endblocktrans %}
                </p>
                {% with 'virtualtable/img/help/'|add:LANGUAGE_CODE|add:'/vt_detail.modal.png' as img %}
                    <p class="text-center">
                        <a href="{% static img %}" target="_blank"><img src="{% static img %}" class="border"></a>
                    </p>
                {% endwith %}
                <ol>
                    <li>{% blocktrans %}<strong>Valeur actuelle :</strong> Représente la valeur que vous avez actuellement. {% endblocktrans %}</li>
                    <li>{% blocktrans %}<strong>Valeur à ajouter/soustraire :</strong> Car les calculs peuvent parfois être fastidieux, si vous avez un montant à ajouter ou à soustraire à votre valeur actuelle, vous pouvez saisir ce champ et enregistrer : la table virtuelle fera le calcul pour vous et modifiera la valeur actuelle en conséquence. Pour soustraire, précédez le montant par un moins.{% endblocktrans %}</li>
                    <li>{% blocktrans %}<strong>Valeur max ou Valeur par défaut :</strong> Dans le cadre d'une jauge, c'est le maximum atteignable par votre valeur actuelle. Dans le cadre d'un compteur, c'est la valeur qui sera restaurée en cliquant sur le bouton <i class="fas fa-redo"></i> (Retour au défaut).{% endblocktrans %}</li>
                    <li>{% blocktrans %}<strong>Dégâts récupérables :</strong> (Ne s'affiche que si la donnée est compatible) Cette donnée est spécifique à certaines capacités ennemies et permet d'automatiser le processus qui consiste à regagner une portion des dégâts subis à un jet. La règle consiste généralement à 1D6 pour 6 points de dégâts subis. Le MJ pourra déclencher la récupération quand il le souhaite. Ne modifiez pas cette valeur sans l'accord préalable de votre MJ.{% endblocktrans %}</li>
                </ol>
            </div>
            <div class="carousel-item text-justify">
                <h2>{% trans "Partie en table virtuelle (PJ) : Configuration" %}</h2>
                {% with 'virtualtable/img/help/'|add:LANGUAGE_CODE|add:'/vt_detail.config.png' as img %}
                    <p class="text-center">
                        <a href="{% static img %}" target="_blank"><img src="{% static img %}" class="border"></a>
                    </p>
                {% endwith %}
                <p>
                    {% blocktrans %}Sur cette boîte de dialogue, vous pouvez choisir quel donnée vous voulez afficher ou cacher sur votre fiche. Cette configuration est propre à votre fiche, tout le monde aura donc cette configuration. Par défaut, les champs les plus communs et utilisés sont affichés. Quelques petites précisions :{% endblocktrans %}
                </p>
                <ul>
                    <li>
                        {% blocktrans %}L'égide est un compteur particulier qui est mis en place durant la campagne de la Geste de la Fin des Temps. Si vous souhaitez savoir son fonctionnement, et si votre MJ a acquis la campagne, rapprochez-vous directement de lui.{% endblocktrans%}
                    </li>
                    <li>
                        {% blocktrans %}Les jauges d'armures permettent d'ajouter des compteurs spécifiques aux pouvoirs de certaines armures. Voici les 3 jauges actuellement en place :{% endblocktrans%}
                        <ul>
                            <li>{% blocktrans %}<strong>Psion :</strong> Ajoute la jauge de flux. Par défaut elle est limitée à 10 mais vous pouvez la configurer selon d'éventuelles règles maisons. Elle permet de garder facilement un œil sur le niveau de flux utilisable pour ses capacités. La jauge est réinitialisée à la fin d'une scène/phase de conflit.{% endblocktrans %}</li>
                            <li>{% blocktrans %}<strong>Shaman :</strong> Ajoute la jauge d'imprégnation, ainsi que le compteur de difficulté d'imprégnation. La jauge d'imprégnation est normalement limitée à 10, mais là encore vous pouvez la configurer autrement pour y mettre une limite personnalisée à votre table. Le compteur de difficulté augmente à chaque utilisation de ses compétences d'armures, et est réinitialisé en fin de mission. La jauge est gardée sur toute la durée de vie du personnage, jusqu'à être pleine, indiquant que l'imprégnation est complète (se référer à la page de l'armure pour les conséquences).{% endblocktrans %}</li>
                            <li>{% blocktrans %}<strong>Warlock :</strong> Ajoute le compteur de difficulté des paradoxes temporels. La difficulté monte à chaque utilisation de ses compétences d'armures, et est réinitialisée en fin de phase de conflit/scène (se référer à la page de l'armure pour les conséquences). {% endblocktrans %}</li>
                        </ul>
                    </li>
                </ul>
                <p>
                    {% blocktrans %}En cliquant sur la valeur d'une donnée, vous ouvrez une boîte de dialogue permettant de la modifier directement au lieu de passer par des ajustement d'un point par un point.{% endblocktrans %}
                </p>
                {% with 'virtualtable/img/help/'|add:LANGUAGE_CODE|add:'/vt_detail.modal.png' as img %}
                    <p class="text-center">
                        <a href="{% static img %}" target="_blank"><img src="{% static img %}" class="border"></a>
                    </p>
                {% endwith %}
                <ol>
                    <li>{% blocktrans %}<strong>Valeur actuelle :</strong> Représente la valeur que vous avez actuellement. {% endblocktrans %}</li>
                    <li>{% blocktrans %}<strong>Valeur à ajouter/soustraire :</strong> Car les calculs peuvent parfois être fastidieux, si vous avez un montant à ajouter ou à soustraire à votre valeur actuelle, vous pouvez saisir ce champ et enregistrer : la table virtuelle fera le calcul pour vous et modifiera la valeur actuelle en conséquence. Pour soustraire, précédez le montant par un moins.{% endblocktrans %}</li>
                    <li>{% blocktrans %}<strong>Valeur max ou Valeur par défaut :</strong> Dans le cadre d'une jauge, c'est le maximum atteignable par votre valeur actuelle. Dans le cadre d'un compteur, c'est la valeur qui sera restaurée en cliquant sur le bouton <i class="fas fa-redo"></i> (Retour au défaut).{% endblocktrans %}</li>
                    <li>{% blocktrans %}<strong>Dégâts récupérables :</strong> (Ne s'affiche que si la donnée est compatible) Cette donnée est spécifique à certaines capacités ennemies et permet d'automatiser le processus qui consiste à regagner une portion des dégâts subis à un jet. La règle consiste généralement à 1D6 pour 6 points de dégâts subis. Le MJ pourra déclencher la récupération quand il le souhaite. Ne modifiez pas cette valeur sans l'accord préalable de votre MJ.{% endblocktrans %}</li>
                </ol>
            </div>
            {% if user.game_master %}
                <div class="carousel-item text-justify">
                    <h2>{% trans "Partie en table virtuelle (MJ)" %}</h2>
                    {% with 'virtualtable/img/help/'|add:LANGUAGE_CODE|add:'/vt_detail.gm.png' as img %}
                        <p>
                            <a href="{% static img %}" target="_blank"><img src="{% static img %}" class="w-100 border"></a>
                        </p>
                    {% endwith %}
                    <p>
                        {% blocktrans trimmed %}
                            En tant que MJ, vous pouvez gérer les dégâts que subissent les personnages et affiner les réglages de modification si vous n'avez pas assez confiance en un joueur pour le laisser gérer lui-même ses retraits d'énergie ou ses soins. En plus de l'interface des joueurs, vous avez donc accès aux informations suivantes :
                        {% endblocktrans %}
                    </p>
                    <ol>
                        <li>
                            {% blocktrans %}<strong>Barre de comportement :</strong> Cette barre de bouton permet de définir le comportement que doit avoir l'application concernant les calculs ou les autorisations pour cette fiche. Elle possède trois éléments :{% endblocktrans %}
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fas fa-crosshairs"></i></span>
                                    {% blocktrans %}<strong>Cible :</strong> Permet de cibler le personnage pour le prochain calcul de dégâts ou effet à administrer. Plusieurs personnages peuvent être sélectionnés, par exemple dans le cadre d'une attaque de bande ou une dispersion.{% endblocktrans %}
                                </li>
                                <li><span class="fa-li"><i class="fas fa-dumbbell"></i></span>
                                    {% blocktrans %}<strong>Infatigable :</strong> Applique l'avantage Infatigable sur cette fiche, faisant que les dégâts sur les PA n'impliquent jamais de dégâts sur les PS. Généralement, cet avantage étant décidé à la création de personnage, une fois configuré ce bouton ne devrait plus être utilisé.{% endblocktrans %}
                                </li>
                                <li><span class="fa-li"><i class="fas fa-user-edit"></i></span>
                                    {% blocktrans %}<strong>Droit d'accès :</strong> Ce bouton est précédé par une icone récapitulative sur qui a le droit de modifier les stats de ce personnage. Lorsque vous cliquez dessus, vous pouvez changer le droit d'accès :{% endblocktrans %}
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-user-shield"></i></span>
                                            {% blocktrans %}<strong>MJ Uniquement :</strong> Seul le MJ peut modifier les statistiques de ce personnage. Déconseillé, sauf si vous avez besoin de maîtriser totalement un personnage, par exemple si le joueur en a perdu le contrôle en devenant temporairement chevalier noir par exemple.{% endblocktrans %}
                                        </li>
                                        <li><span class="fa-li"><i class="fas fa-user-friends"></i></span>
                                            {% blocktrans %}<strong>MJ et propriétaire :</strong> Le MJ et le joueur propriétaire du personnage peuvent modifier les données du personnage. Il s'agit du réglage par défaut.{% endblocktrans %}
                                        </li>
                                        <li><span class="fa-li"><i class="fas fa-globe"></i></span>
                                            {% blocktrans %}<strong>Tout le monde :</strong> Tous les joueurs de la table peuvent modifier ce personnage. Il s'agit généralement d'un PNJ apporté par le MJ, ou alors la table possède un joueur ayant des difficultés de connexion et le reste de la table désire l'aider à gérer son personnage pour décharger le MJ.{% endblocktrans %}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            {% blocktrans %}<strong>Lancer de dés :</strong> Comme pour chaque fiche de personnage, il est possible pour le MJ de lancer les dés depuis cette interface. Dans le cadre des PNJs, pour effectuer un test combo, il indique juste le score d'aspect dans les dés à lancer et ajoute en bonus le score d'aspect exceptionnel. À noter que contrairement à la version PJ, les jets ne sont pas partagés par défaut (le bouton <i class="fas fa-share-alt"></i> n'est pas actif). Si le MJ souhaite faire un jet ouvert, le jet est répercuté sur toutes les fiches et ajouté à leur historique respectif, n'ayant pas d'autres possibilités pour les joueurs de consulter les jets ouverts du MJ.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}<strong>Gestionnaire de dégâts :</strong> Ce sera dans ce cadre que vous pourrez gérer les dégâts à infliger aux personnages ainsi que vos lancers. Cette interface permet de modifier les jauges sélectionnées à l'écran en prenant en compte les divers bonus de chaque personnage. Voici un descriptif de chaque élément :{% endblocktrans %}
                            <ul>
                                <li>
                                    <div>
                                        {% blocktrans %}<strong>Dégâts :</strong> C'est le montant direct de votre jet de dés de dégâts. Ce sera la base de calcul pour savoir de combien de points les jauges vont baisser. Comme les règles le stipulent et sauf indication contraire dans l'interface, les dégâts prennent en compte : le CdF (baisse d'autant les dégâts), puis baisse en priorité les points d'armure, et enfin les points de santé. A moins que l'avantage Infatigable soit affecté à un PJ, ce dernier prend automatiquement 1 point de dégâts sur les PS par tranche de 5 point de dégâts sur les PA.{% endblocktrans %}
                                    </div>
                                    <div class="text-warning">
                                        <strong><em><i class="fas fa-exclamation fa-2x fa-pull-left"></i> {% blocktrans %}Note importante : à l'heure actuelle, le gestionnaire de dégâts ne sait pas gérer la transition Armure <i class="fas fa-long-arrow-alt-right"></i> Guardian, et les dégâts une fois les PA à 0 attaquent directement la jauge ciblée. Une meilleure gestion de ces cas spécifiques sera ajoutée dans un futur proche.{% endblocktrans %}</em></strong>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        {% blocktrans %}<strong>Stat cible :</strong> Peut être au choix <em>Santé</em> (valeur par défaut), <em>Armure</em>, <em>Énergie</em> ou enfin <em>Espoir</em>. Une fois le CdF retiré, cette statistique sera baissée. Notez que si vous ciblez les PA, les PS peuvent toujours baisser dû aux dégâts sur l'armure (sauf si le PJ a l'avantage Infatigable).{% endblocktrans %}
                                    </div>
                                    <div class="text-warning">
                                        <strong><em><i class="fas fa-exclamation fa-2x fa-pull-left"></i> {% blocktrans %}Attention : Cibler les PE ou les PES n'applique pas automatiquement les effets "ignore armure", afin de permettre une meilleure finesse dans la gestion des dégâts cet automatisme a été volontairement ignoré. Vous devez donc cocher la case correspondante avant d'appliquer les dégâts si vous ne souhaitez pas toucher l'armure !{% endblocktrans %}</em></strong>
                                    </div>
                                </li>
                                <li>
                                    {% blocktrans %}<strong>Ignore CdF :</strong> Les dégâts ne sont pas minorés par la valeur de CdF du personnage. À noter que cette case supplante une éventuelle valeur indiqué dans le champ <em>Pénétrant</em>.{% endblocktrans %}
                                </li>
                                <li>
                                    {% blocktrans %}<strong>Pénétrant :</strong> Le CdF du personnage est réduit de cette valeur lors du calcul de dégâts. Si la valeur dépasse ou égale le CdF du personnage, l'effet est le même qu'avec la case Ignore CdF cochée.{% endblocktrans %}
                                </li>
                                <li>
                                    {% blocktrans %}<strong>Ignore armure :</strong> Les dégâts ne touchent pas l'armure, sauf si la stat cible est l'armure. À noter que cette case supplante une éventuelle valeur indiqué dans le champ <em>Perce armure</em>.{% endblocktrans %}
                                </li>
                                <li>
                                    {% blocktrans %}<strong>Perce armure :</strong> Valeur à partir de laquelle les dégâts ne touchent plus l'armure mais s'attaquent directement à la stat cible. Si l'attaque a une valeur Perce-armure de 15 et que le PJ a encore 17 PA, les dégâts ne seront minorés que de 2 puis s'attaqueront directement à la stat cible.{% endblocktrans %}
                                </li>
                                <li>
                                    {% blocktrans %}<strong>Égide active :</strong> Les dégâts sont minorés de la valeur d'Égide du joueur si cette case est cochée, agissant comme un second CdF.{% endblocktrans %}
                                </li>
                                <li>
                                    {% blocktrans %}<strong>Récupérable ? :</strong> Les dégâts infligés réellement (une fois le CdF et l'égide passé) peuvent être stockés, pour les PE et les PES, dans un compteur à part. Ce compteur sert à garder une trace de la spécificité des capacités comme le Drain d'Énergie ou l'Anathème. Une fois l'ennemi mort ou le combat terminé, il est possible de déclencher automatiquement la récupération des dégâts par la formule 1D6 pour chaque 6 points de dégâts subis.{% endblocktrans %}
                                </li>
                            </ul>
                        </li>
                        <li>
                            {% blocktrans %}<strong><i class="fas fa-biohazard"></i> Appliquer :</strong> Permet d'effectuer réellement les dégâts. Attention, une fois ce bouton cliqué, il n'y a pas de retour en arrière possible : les joueurs devront retenir leur ancienne valeur si l'attaque devait finalement être annulée. La prise en charge d'historique des dégâts (pour revenir en arrière) est prévue dans un futur proche.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}<strong><i class="fas fa-redo"></i> Réinitialiser :</strong> Permet de vider complètement le formulaire et de décibler tous les personnages. Les lancers de dés ne sont pas impactés par ce bouton.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}<strong><i class="fas fa-recycle"></i> Mort PNJ :</strong> Calcule les valeurs récupérables pour les personnages sélectionnés. Il n'est pas possible pour l'heure de récupérer que les PES ou que les PE, ni de scinder l'origine des dégâts. Toutes les valeurs récupérables des personnages ciblés sont calculées, les jets effectués et les regains appliqués puis les compteurs remis à 0.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}<strong><i class="fas fa-medal"></i> Fin de combat :</strong> Calcule les valeurs récupérables pour tous les personnages, peu importe qu'ils soient sélectionnés ou non. Si la fiche possède des données Psion ou Warlock (respectivement points de flux et difficulté de test de paradoxe temporel), ces données sont remises à 0.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}<strong><i class="fas fa-medkit"></i> Fin de mission :</strong> Redonne les PS, PA, PE, Nods et Grenades à tous les personnages. Calcule les valeurs récupérables pour les PES pour chaque personnage, peu importe qu'ils soient sélectionnés ou non. Remet à 0 les compteurs de difficulté des armures Shaman et Warlock, remet à 0 la jauge de flux de la Psion. Ouvre le formulaire de distribution des PG/PX/PH. Le formulaire se compose d'une partie globale, en haut, permettant de présaisir pour chaque PJ la valeur à donner pour chaque jauge. Il y a ensuite un tableau avec chaque fiche sur lesquelles vous pouvez affiner les valeurs données (mode héroïque, faute grave diminuant les PG pour un joueur, etc).{% endblocktrans %}
                        </li>
                    </ol>
                </div>
                <div class="carousel-item text-justify">
                    <h2>{% trans "Edition de table virtuelle (formulaire)" %}</h2>
                    {% with 'virtualtable/img/help/'|add:LANGUAGE_CODE|add:'/vt_update.png' as img %}
                        <p>
                            <a href="{% static img %}" target="_blank"><img src="{% static img %}" class="w-100 border"></a>
                        </p>
                    {% endwith %}
                    <p>
                        {% blocktrans trimmed %}
                            L'édition de la table virtuelle reprend l'interface de création, avec deux choses en plus.
                        {% endblocktrans %}
                    </p>
                    <ol>
                        <li>
                            {% blocktrans %}<strong>Régénérer l'invitation :</strong> Si cette case est cochée, vous pouvez créer une nouvelle invitation qui sera disponible pour le délai indiqué dans le champ "Accessible pendant". L'ancienne invitation deviendra inutilisable.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}<strong>Liste des personnages :</strong> Cela vous permet, en un coup d'œil, de savoir les personnages de la table et leur statistiques principales (PS, PA, PE, PES, CdF, Egd, PH, PG et PX). Il y a aussi le niveau d'accès rappelé, avec les trois valeurspossibles : MJ, Joueur ou Public. Il y a deux actions possibles sur ce tableau récapitulatif, détaillées ci-après.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}<strong>Migrer sur :</strong> Si vous possédez plusieurs tables, vous pouvez transférer vos joueurs d'une table à l'autre grâce à cette colonne. À noter que les joueurs n'ayant plus de personnages disponibles mais toujours connectés à la partie seront éjectés et ramenés à la liste des tables virtuelles.{% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans %}<strong>Suppression :</strong> En cliquant sur le bouton <i class="fas fa-user-times"></i>, le bouton devient rouge avec l'icône sur fond blanc, et la ligne devient barrée. Cela indique qu'à l'enregistrement ce personnage sera supprimé de la table. Un message de confirmation vous demandera si c'est bien ce que vous voulez faire, car la suppression est définitive. Ré-appuyer sur le bouton annule la demande de suppression. À noter que les joueurs n'ayant plus de personnages disponibles mais toujours connectés à la partie seront éjectés et ramenés à la liste des tables virtuelles.{% endblocktrans %}
                        </li>
                    </ol>
                </div>
                <div class="carousel-item text-justify">
                    <h2>{% trans "Suppression d'une table virtuelle (MJ)" %}</h2>
                    {% with 'virtualtable/img/help/'|add:LANGUAGE_CODE|add:'/vt_delete.png' as img %}
                        <p>
                            <a href="{% static img %}" target="_blank"><img src="{% static img %}" class="w-100 border"></a>
                        </p>
                    {% endwith %}
                    <p>
                        {% blocktrans trimmed %}
                            La suppression d'une table virtuelle est irréversible, par conséquent une page de confirmation vous demande si vous êtes sûr de vouloir la supprimer. Si des joueurs se trouvent connectés à la partie lors de la suppression de la table virtuelle, ils seront éjectés et ramenés à la liste des tables virtuelles.
                        {% endblocktrans %}
                    </p>
                </div>
            {% endif %}
        </div>
        <a class="btn btn-lg btn-link float-left" href="#carouselHelp" role="button" data-slide="prev">
            <i class="fas fa-arrow-circle-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="btn btn-lg btn-link float-right" href="#carouselHelp" role="button" data-slide="next">
            <i class="fas fa-arrow-circle-right"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock content %}