{% extends 'virtualtable/base.html' %}

{% load static %}
{% load martortags %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Rejoindre la table" %} {{ vt.name }} - {% endblock %}

{% block content %}
<form method="post">
    <h1 class="text-center mt-3">{% blocktrans with name=vt.name %}Rejoindre la table {{ name }}{% endblocktrans %}</h1>
    {% csrf_token %}
    {{ form.token }}
    
    <div class="row">
        <div class="col">
            {{ form.name|as_crispy_field }}
        </div>
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ field.name }} : {{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}

        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}

    {% endif %}
    
    <div class="row justify-content-center">
        <div class="col-6 text-center knight-hr my-3"></div>
        <div class="col-12 text-justify">
            <span class="text-secondary font-italic">
                {% blocktrans trimmed %}
                    D'autres données (PX, PG, nods, jauges relatives à certaines armures...)
                    seront configurables directement depuis la table virtuelle. Vous pourrez renommer
                    votre personnage en cliquant sur son nom. Vous pourrez configurer les jauges que vous
                    souhaitez voir ou non en cliquant sur le bouton <i class="fas fa-cog"></i> à côté de
                    votre nom.
                {% endblocktrans %}
            </span>
        </div>
        <div class="col-6 text-center knight-hr my-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="font-weight-bold font-italic mb-0">
                        {% trans "Points de santé (PS)" %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row align-middle">
                        <div class="col slash-separated">
                            {{ form.current_health_points }}
                        </div>
                        <div class="col">
                            {{ form.max_health_points }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="font-weight-bold font-italic mb-0">
                        {% trans "Points d'armure (PA)" %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row align-middle">
                        <div class="col slash-separated">
                            {{ form.current_armour_points }}
                        </div>
                        <div class="col">
                            {{ form.max_armour_points }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="font-weight-bold font-italic mb-0">
                        {% trans "Points d'énergie (PE)" %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row align-middle">
                        <div class="col slash-separated">
                            {{ form.current_energy_points }}
                        </div>
                        <div class="col">
                            {{ form.max_energy_points }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="font-weight-bold font-italic mb-0">
                        {% trans "Points d'espoir (PES)" %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row align-middle">
                        <div class="col slash-separated">
                            {{ form.current_hope_points }}
                        </div>
                        <div class="col">
                            {{ form.max_hope_points }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="font-weight-bold font-italic mb-0">
                        {% trans "Champ de force (CdF)" %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row align-middle">
                        <div class="col slash-separated">
                            {{ form.current_force_field }}
                        </div>
                        <div class="col">
                            {{ form.default_force_field }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-success mt-5">{% trans "Rejoindre" %}</button>
</form>
{% endblock %}