{% extends 'virtualtable/base.html' %}

{% load i18n %}

{% block title %}{% trans "Places limitées" %} - {% endblock %}

{% block content %}
<h1 class="mt-3">{% trans "Erreur : Maximum de personnages atteint" %}</h1>

<p>
	{% trans "Cette table ne peut pas accueillir plus de personnages. Demandez au MJ d'en supprimer ou d'augmenter la capacité de la table virtuelle." %}
</p>
{% endblock %}