{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des blasons" %} - {% endblock %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des blasons" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Lorsque le jeune écuyer entre enfin en service, juste après sa formation, il doit choisir ou reçoit un blason, ce qui fait de lui un vrai chevalier. Chaque blason est associé à un vœu, un objectif général qui offre une motivation mineure supplémentaire au personnage. En dehors de cela, le blason est purement un élément de roleplay de l'univers de Knight, un personnage peut respecter son blason au mot près ou au contraire, composer avec sa propre morale (auquel cas, la motivation est plus difficile à atteindre). Le personnage doit choisir un unique blason parmi ceux proposés ci-dessous.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        {% include 'gm/misc/filter_datatable.html' only %}
        <table class="table table-sm table-striped table-bordered dt-enable">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center w-20">{% trans "Nom" %}</th>
                    <th scope="col" class="text-center w-25">{% trans "Vœu" %}</th>
                    <th scope="col" class="text-center">{% trans "Description" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for crest in crest_list %}
                    <tr>
                        <td data-order="{{ crest.name|slugify }}" class="align-middle text-center position-relative">
                            <a class="stretched-link" href="{% url 'gm:crest_detail' crest.slug %}">{{ crest.name }}</a>
                        </td>
                        <td class="align-middle text-center p-2">{{ crest.vow }}</td>
                        <td class="align-middle text-center p-2">{{ crest.description|truncatewords:30 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}