{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des mecha-armures" %} - {% endblock %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des mecha-armures" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        En secret, aidé par Gauvain et par des ingénieurs triés sur le volet, Merlin a développé une force secrète composée de trois nouveaux types de méta-armures un peu particuliers. Nommées mecha-armures, ces innovations de 15 à 18 mètres de haut ne sont utilisées qu'en cas de force majeure tant elles consomment d'énergie et de ressources au Knight.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Actuellement cachées dans trois énormes satellites furtifs gravitant autour de la planète, elles sont constamment prêtes au déploiement sur ordre de Merlin ou Gauvain.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Lorsqu'une mecha-armure doit être déployée, elle est envoyée depuis l'orbite terrestre dans six capsules blindées furtives. Arrivées à moins de 200 mètres de leur cible, les capsules éclatent et cinq modules générateurs de nanoconstructs s'autopropulsent pour aller se greffer sur la méta-armure du chevalier désigné pour la piloter. La sixième capsule détient quant à elle le générateur Ouroboros qui vient s'enfoncer dans le torse de la mecha-armure et l'alimenter une fois sa nanoconstruction terminée. Dans l'idéal, le chevalier doit être en l'air, à plusieurs dizaines de mètres au-dessus du sol, dans une zone dégagée. La mecha-armure se déploie alors en 6 secondes autour de lui. Il est désormais un chevalier pouvant mesurer jusqu'à 18 mètres de haut, pesant plusieurs dizaines de tonnes, hérissé d'armes, capable de déclencher toute la fureur du Knight et d'affronter n'importe quelle monstruosité... pendant quelque temps.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Malheureusement les mecha-armures n'en sont actuellement qu'à l'état de prototypes. Le plus grand problème des deux génies est le déploiement de l'immense machine via des nano-constructs. S'il est aujourd'hui possible de créer une méta-armure en nanomachines et de la faire folder ou défolder sans problème, la complexité d'une mecha-armure est telle que chaque déploiement nécessite la mobilisation de plusieurs intelligences artificielles, architectes et techniciens qui vont piloter des nuées de nano-machines et corriger les erreurs sur la mecha-armure constamment et en des temps records... avec des risques tels que des défaillances mécaniques critiques ou des erreurs dans le calibrage de l'armement.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Pour conserver l'intégrité de ces énormes machines de guerre, les nanomachines sont donc en mouvement régulier et leur trajectoire ainsi que leur fabrication sont corrigées à chaque seconde, ce qui coûte bien entendu énormément d'énergie au générateur Ouroboros. Ce dernier, constitué d'un énorme bloc d'élément alpha surchargé d'UV, est normalement capable d'alimenter une ville entière mais, dans le cas d'une mecha-armure, l'énergie qu'il génère est ponctionnée si intensément qu'il ne peut alimenter la machine que durant quelques précieuses heures.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        {% include 'gm/misc/filter_datatable.html' only %}
        <div class="d-none d-sm-block">
            <table class="table table-sm table-striped table-bordered dt-enable">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="text-center">{% trans "Nom" %}</th>
                        <th scope="col" class="text-center">{% trans "Vitesse" %}</th>
                        <th scope="col" class="text-center">{% trans "Manœuvrabilité" %}</th>
                        <th scope="col" class="text-center">{% trans "Puissance" %}</th>
                        <th scope="col" class="text-center">{% trans "Senseurs" %}</th>
                        <th scope="col" class="text-center">{% trans "Systèmes" %}</th>
                        <th scope="col" class="text-center">{% trans "Résilience" %}</th>
                        <th scope="col" class="text-center">{% trans "Blindage" %}</th>
                        <th scope="col" class="text-center">{% trans "CdF" %}</th>
                        <th scope="col" class="text-center">{% trans "Configurations" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mecha in mecha_list %}
                        <tr>
                            <td data-order="{% if mecha not in allowed_mechas %}Zone confidentielle{% else %}{{ mecha.slug }}{% endif %}" class="align-middle text-center position-relative">
                                {% if mecha not in allowed_mechas %}
                                    <a class="stretched-link" href="{% url 'gm:mecha_unknown' %}">{% trans "[CONFIDENTIEL]" %}</a>
                                {% else %}
                                    <a class="stretched-link" href="{% url 'gm:mecha_detail' mecha.slug %}">{{ mecha.name }}</a>
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">
                                {% if mecha not in allowed_mechas %}
                                    ?
                                {% else %}
                                    {{ mecha.speed }}
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">
                                {% if mecha not in allowed_mechas %}
                                    ?
                                {% else %}
                                    {{ mecha.maneuverability }}
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">
                                {% if mecha not in allowed_mechas %}
                                    ?
                                {% else %}
                                    {{ mecha.power }}
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">
                                {% if mecha not in allowed_mechas %}
                                    ?
                                {% else %}
                                    {{ mecha.sensors }}
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">
                                {% if mecha not in allowed_mechas %}
                                    ?
                                {% else %}
                                    {{ mecha.systems }}
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">
                                {% if mecha not in allowed_mechas %}
                                    ?
                                {% else %}
                                    {{ mecha.resilience }}
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">
                                {% if mecha not in allowed_mechas %}
                                    ?
                                {% else %}
                                    {{ mecha.armour_plating }}
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">
                                {% if mecha not in allowed_mechas %}
                                    ?
                                {% else %}
                                    {{ mecha.force_field }}
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                {% if mecha not in allowed_mechas %}
                                    <div class="text-center">?</div>
                                {% else %}
                                    <div class="d-none d-sm-block">
                                        <ul class="my-0">
                                            {% for config in mecha.configurations.all %}
                                                <li>{{ config.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-block d-sm-none">
            <table class="table table-sm table-striped table-bordered dt-enable">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="text-center">{% trans "Nom" %}</th>
                        <th scope="col" class="text-center">{% trans "Configurations" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mecha in mecha_list %}
                        <tr>
                            <td data-order="{% if mecha not in allowed_mechas %}Zone confidentielle{% else %}{{ mecha.slug }}{% endif %}" class="align-middle text-center position-relative">
                                {% if mecha not in allowed_mechas %}
                                    <a class="stretched-link" href="{% url 'gm:mecha_unknown' %}">{% trans "[CONFIDENTIEL]" %}</a>
                                {% else %}
                                    <a class="stretched-link" href="{% url 'gm:mecha_detail' mecha.slug %}">{{ mecha.name }}</a>
                                {% endif %}
                            </td>
                            <td class="text-center align-middle">
                                <div class="d-block d-sm-none">
                                    {% for config in mecha.configurations.all %}
                                        {{ config.name }}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    
    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}