{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des overdrives" %} - {% endblock %}

{% block display_printer %}d-sm-block{% endblock display_printer %}
{% block printer %}{% url 'gm:print_overdrive' %}{% endblock printer %}

{% block content %}
    {% regroup overdrive_list by characteristic.aspect as overdrives_by_aspect %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des overdrives" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Les modules d'overdrive offrent des overdrives aux caractéristiques, c'est-à-dire un bonus de 1 réussite automatique par overdrive, sur chaque combo les impliquant.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Ils s'étendent tous sur 5 niveaux (mais peuvent atteindre des niveaux supérieurs avec certains modules, comme le mode type de la méta-armure Warrior). Peu importe leur nombre, ils ne prennent jamais d'emplacement. Généralement, ils sont inclus à l'intérieur de la méta-armure et n'ont pas besoin d'être décrits.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Comme pour les autres modules, il faut acheter les niveaux précédents pour obtenir les niveaux 2, 3, 4 et 5.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Si l'armure du chevalier possède déjà des overdrives que vous voulez augmenter, ceux-ci comptent dans le coût d'achat. Par exemple, si l'armure d'un personnage possède 1 overdrive de base en <em>Tir</em>, le personnage devra payer 30 PG pour le passer au deuxième et ainsi de suite.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Il est à noter qu'au-delà de deux niveaux d'overdrive, ceux achetés comptent comme des modules rares. Il faut donc que l'accès aux modules rares soit débloqué par le MJ avant de pouvoir les acquérir.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Enfin, en plus des réussites automatiques, chaque type d'overdrive amène parfois un lot de bonus par niveau, permettant aux PJ d'être plus héroïques encore. Ils sont à inscrire dans la liste des capacités du personnage. Certains sont simplement narratifs, c'est-à-dire qu'ils permettent aux PJ d'agrémenter la description d'une action et d'autres modifient ou ajoutent des points de règles. Il est à noter qu'ils ne fonctionnent que lorsque le personnage est en méta-armure. Jamais sans.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
        
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            {% for aspect, overdrives in overdrives_by_aspect %}
                {% with slug_aspect=aspect.name|slugify %}
                <li class="nav-item">
                    <a class="nav-link px-1" id="{{ slug_aspect }}-tab" data-toggle="tab" href="#{{ slug_aspect }}" role="tab" aria-controls="{{ slug_aspect }}" aria-selected="false">{{ aspect.name }}</a>
                </li>
                {% endwith %}
            {% endfor %}
        </ul>
    </div>
    <div class="mt-3">
        <div class="tab-content" id="myTabContent">
            {% for aspect, overdrives in overdrives_by_aspect %}
                {% with slug_aspect=aspect.name|slugify %}
                    <div class="tab-pane fade show" id="{{ slug_aspect }}" role="tabpanel" aria-labelledby="{{ slug_aspect }}-tab">
                        {% regroup overdrives by characteristic as overdrives_by_characteristics %}
                        {% for characteristic, final_overdrives in overdrives_by_characteristics %}
                            {% with slug_characteristic=characteristic.name|slugify %}
                                <div class="card my-3">
                                    <div class="card-header position-relative">
                                        <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapse{{ slug_characteristic }}" aria-expanded="false" aria-controls="collapse{{ slug_characteristic }}">
                                            <h5 class="font-weight-bold font-italic mb-0 text-center">
                                                {{ characteristic.name }}
                                                <i class="fa fa-plus-square"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <div id="collapse{{ slug_characteristic }}" class="collapse" aria-labelledby="{{ slug_characteristic }}">
                                        <div class="card-body">
                                            <div>{{ characteristic.overdrive_global_description }}</div>
                                            <div>
                                                {% for overdrive in final_overdrives %}
                                                    <div class="card my-3">
                                                        <div class="card-header bg-custom-rarity-header-{{ overdrive.rarity.id }} position-relative">
                                                            <a class="stretched-link" href="{% url 'gm:overdrive_detail' overdrive.slug %}">
                                                                <h5 class="font-weight-bold font-italic mb-0">
                                                                    {% trans "Niv." %} {{ overdrive.level }} : {{ overdrive.cost }}  {% trans "PG" %}
                                                                </h5>
                                                            </a>
                                                        </div>
                                                        {% if overdrive.description %}
                                                        <div class="card-body">
                                                            <div class="text-justify markdown-format">{{ overdrive.description|safe_markdown }}</div>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock %}