{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des capacités héroïques" %} - {% endblock %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des capacités héroïques" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Ces nouvelles capacités accessibles aux chevaliers reflètent leur puissance héroïque, leur futur statut de légendes, indépendamment de leur méta-armure et de leur rôle au sein du Knight.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Dans Knight, les capacités héroïques sont utilisables en dépensant un certain nombre de points d'héroïsme. Un PJ ne peut activer qu'une seule capacité héroïque par scène ou phase de conflit.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Dans cette liste de capacités apparaissent différents éléments techniques, notamment la catégorie, les points d'expérience à dépenser pour acquérir la capacité et le nombre de points d'héroïsme à utiliser pour l'activer une fois apprise.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Comme pour les modules, ces données servent à alimenter le jeu, mais, lorsqu'il utilise une de ses capacités héroïques, chaque PJ doit décrire la manière dont il le fait. En effet, même lorsque le texte de description de la capacité est court, le PJ doit essayer d'imaginer la manière dont une telle puissance peut s'utiliser. Pour la capacité « commandement implacable » par exemple, qui sert à donner une action de combat supplémentaire aux alliés, un PJ pourra expliquer que son personnage se pose en avant de la ligne de bataille en hurlant des ordres clairs et précis aux autres chevaliers. De même, si un PJ utilise la capacité « combo + 1 » qui ajoute durant toute la scène une caractéristique de plus à ses combos, il doit expliquer la manière dont la caractéristique ajoutée influe sur son action, puis il doit la décrire. Bref, le MJ doit faire en sorte que les joueurs expliquent la manière dont leur chevalier agit.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Enfin, les capacités sont classées dans différents grands groupes : générales, combat, enquête et interaction sociale. Ces groupes aident les PJ à mieux s'y retrouver dans la liste mais aussi à savoir quand déclencher une capacité.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        {% include 'gm/misc/filter_datatable.html' only %}
        <table class="table table-sm table-striped table-bordered dt-enable">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center">{% trans "Nom" %}</th>
                    <th scope="col" class="text-center">{% trans "Catégorie" %}</th>
                    <th scope="col" class="text-center">{% trans "XP" %}</th>
                    <th scope="col" class="text-center">{% trans "PH" %}</th>
                    <th scope="col" class="text-center">{% trans "Description" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for skill in skill_list %}
                    <tr>
                        <td data-order="{{ skill.name|slugify }}" class="align-middle text-center position-relative">
                            <a class="stretched-link" href="{% url 'gm:skill_detail' skill.slug %}">{{ skill.name }}</a>
                        </td>
                        <td class="align-middle text-center">{{ skill.category.name }}</td>
                        <td class="align-middle text-center">{{ skill.xp_cost }}</td>
                        <td class="align-middle text-center">{{ skill.heroic_cost }}</td>
                        <td class="align-middle text-justify markdown-format p-2">{{ skill.description|safe_markdown }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}