{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}
{% load gm_extras %}

{% block title %}{% trans "Liste des capacités gémellaires" %} - {% endblock %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des capacités gémellaires" %}</h1>
        {% if user.game_master and twin_ability_feature %}
            <p>{% trans "Clé d'activation de cette partie du site, à transmettre à vos PJ lorsqu'ils y auront accès :" %} <span class="font-italic text-warning px-2">{{ twin_ability_feature.key }}</span></p>
        {% endif %}
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Lorsqu'un chevalier possède un total de 600 PG, il reçoit sa méta-armure de légende. Il peut alors choisir une capacité annexe d'une autre méta-armure parmi la liste suivante.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Attention : Chaque capacité annexe est une version minimisée de celle de la méta-armure d'origine et, quand c'est indiqué, certaines méta-armures excluent parfois des capacités annexes. Le PJ doit bien vérifier le texte de la capacité pour connaître à quel niveau d'évolution il peut posséder cette capacité (les niveaux d'évolution précédents ne sont pas pris en compte). Enfin, il est important de préciser qu'une capacité ne peut pas évoluer après son acquisition.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Note : certaines armures ne possèdent aucune capacité pouvant être choisie comme capacité annexe. Leur technologie étant trop instable ou trop complexe, Merlin et Gauvain interdisent toute inclusion de leur capacité à un autre châssis de méta-armure.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {% include 'gm/misc/filter_datatable.html' with sources=sources user=user only %}
            <table class="table table-sm table-striped table-bordered dt-enable">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="text-center align-middle">{% trans "Capacité" %}</th>
                        <th scope="col" class="text-center align-middle">{% trans "Info" %}</th>
                        <th scope="col" class="text-center align-middle"><i class="fa-solid fa-ban"></i></th>
                        <th scope="col" class="d-none d-sm-table-cell text-center align-middle">{% trans "Énergie" %}</th>
                        <th scope="col" class="d-none d-sm-table-cell text-center align-middle">{% trans "Activation" %}</th>
                        <th scope="col" class="d-none d-sm-table-cell text-center align-middle">{% trans "Durée" %}</th>
                        <th scope="col" class="source d-none">{% trans "Source" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for twin_ability in twin_list %}
                        <tr>
                            <td class="text-center align-middle">
                                <a href="{% url 'gm:armour_detail' twin_ability.ability.armour.slug %}#capacity-{{ twin_ability.ability.name|slugify }}">
                                    <strong class="text-warning">{{ twin_ability.ability.armour.name }}</strong>
                                    <br/>
                                    {{ twin_ability.ability.name }}
                                </a>
                            </td>
                            <td class="text-center align-middle">
                                <div class="markdown-format text-justify">
                                    {{ twin_ability.description|safe_markdown }}
                                </div>
                                <div class="d-block d-sm-none">
                                    <table class="table table-sm table-bordered mb-0 mt-2">
                                        <tbody class="thead-light">
                                            <tr>
                                                <th class="align-middle" scope="row">{% trans "Énergie" %}</th>
                                                <td class="text-center align-middle">{% if twin_ability.energy %}{{ twin_ability.energy|linebreaksbr }}{% elif twin_ability.ability.energy %}{{ twin_ability.ability.energy }}{% elif twin_ability.ability.variants.all|length > 1 %}<em>{% trans "Dépend de la variante utilisée" %}</em>{% else %}{{ twin_ability.ability.variants.first.energy }}{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <th class="align-middle" scope="row">{% trans "Activation" %}</th>
                                                <td class="text-center align-middle">{% if twin_ability.activation %}{{ twin_ability.activation|linebreaksbr }}{% elif twin_ability.ability.activation %}{{ twin_ability.ability.activation }}{% elif twin_ability.ability.variants.all|length > 1 %}<em>{% trans "Dépend de la variante utilisée" %}</em>{% else %}{{ twin_ability.ability.variants.first.activation }}{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <th class="align-middle" scope="row">{% trans "Durée" %}</th>
                                                <td class="text-center align-middle">{% if twin_ability.duration %}{{ twin_ability.duration|linebreaksbr }}{% elif twin_ability.ability.duration %}{{ twin_ability.ability.duration }}{% elif twin_ability.ability.variants.all|length > 1 %}<em>{% trans "Dépend de la variante utilisée" %}</em>{% else %}{{ twin_ability.ability.variants.first.duration }}{% endif %}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td class="text-center align-middle">
                                {% for armour in twin_ability.excluded_armours.all %}
                                    {% if armour in allowed_armours and armour != twin_ability.ability.armour %}
                                        <div>{{ armour.name }}</div>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-center align-middle d-none d-sm-table-cell">{% if twin_ability.energy %}{{ twin_ability.energy|linebreaksbr }}{% elif twin_ability.ability.energy %}{{ twin_ability.ability.energy }}{% elif twin_ability.ability.variants.all|length > 1 %}<em>{% trans "Dépend de la variante utilisée" %}</em>{% else %}{{ twin_ability.ability.variants.first.energy }}{% endif %}</td>
                            <td class="text-center align-middle d-none d-sm-table-cell">{% if twin_ability.activation %}{{ twin_ability.activation|linebreaksbr }}{% elif twin_ability.ability.activation %}{{ twin_ability.ability.activation }}{% elif twin_ability.ability.variants.all|length > 1 %}<em>{% trans "Dépend de la variante utilisée" %}</em>{% else %}{{ twin_ability.ability.variants.first.activation }}{% endif %}</td>
                            <td class="text-center align-middle d-none d-sm-table-cell">{% if twin_ability.duration %}{{ twin_ability.duration|linebreaksbr }}{% elif twin_ability.ability.duration %}{{ twin_ability.ability.duration }}{% elif twin_ability.ability.variants.all|length > 1 %}<em>{% trans "Dépend de la variante utilisée" %}</em>{% else %}{{ twin_ability.ability.variants.first.duration }}{% endif %}</td>
                            <td class="d-none">{{ twin_ability.ability.armour.source.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}

