{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}
{% load gm_extras %}

{% block title %}{% trans "Liste des capacités ultimes" %} - {% endblock %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des capacités ultimes" %}</h1>
        {% if user.game_master and ultimate_aptitude_feature %}
            <p>{% trans "Clé d'activation de cette partie du site, à transmettre à vos PJ lorsqu'ils y auront accès :" %} <span class="font-italic text-warning px-2">{{ ultimate_aptitude_feature.key }}</span></p>
        {% endif %}
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Lorsque les chevaliers atteignent 800 PG, le MJ peut octroyer aux PJ une capacité ultime. Les capacités ultimes fonctionnent comme les capacités de méta-armure, mais sont créées en fonction du chevalier et de ses actions héroïques.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Il n'existe pas de liste complète de capacités ultimes. Chaque chevalier assez glorieux en possède une unique qui l'identifie et qui devient sa signature.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Il existe deux types de capacités ultimes :
                        {% endblocktrans %}
                        <ul>
                            <li>
                                {% blocktrans trimmed %}
                                    Les capacités ultimes passives sont des bonus agissant toujours en jeu pour le personnage. Elles ne peuvent être désactivées et représentent une spécificité du personnage qui l'accompagne, qui l'auréole. Elles ne coûtent pas de PE et leur utilisation n'est soumise à aucune restriction spécifique.
                                {% endblocktrans %}
                            </li>
                            <li>
                                {% blocktrans trimmed %}
                                    Les capacités ultimes actives, à l'instar des capacités des méta-armures, sont à utiliser moyennant un certain coût en PE (ou en points d'héroïsme). Les effets des capacités ultimes actives doivent être puissants, capables de changer le cours d'un combat ou d'une situation.
                                {% endblocktrans %}
                            </li>
                        </ul>
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            À 800 PG, le MJ et le PJ doivent discuter entre eux de la création d'une capacité ultime et choisir si celle-ci sera active ou passive. Celle-ci ainsi créée doit être en rapport avec le chevalier et sa légende, c'est une sorte de signature qui marquera à jamais le monde.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Voici des exemples de capacités ultimes. Le MJ et les joueurs peuvent piocher dans cette liste pour les créer, en combinant, retravaillant ou modifiant les effets. Le MJ doit bien entendu laisser libre cours à l'imagination des PJ, mais pour plus d'équilibre entre les personnages, il peut décider de ne laisser le choix que parmi les deux listes ci-dessous.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {% include 'gm/misc/filter_datatable.html' with user=user only %}
            <table class="table table-sm table-striped table-bordered dt-enable">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="text-center align-middle">{% trans "Type" %}</th>
                        <th scope="col" class="text-center align-middle">{% trans "Nom" %}</th>
                        <th scope="col" class="text-center align-middle">{% trans "Restriction" %}</th>
                        <th scope="col" class="text-center align-middle">{% trans "Énergie" %}</th>
                        <th scope="col" class="text-center align-middle">{% trans "Activation" %}</th>
                        <th scope="col" class="text-center align-middle d-none d-md-table-cell">{% trans "Durée" %}</th>
                        <th scope="col" class="text-center align-middle d-none d-md-table-cell">{% trans "Portée" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ultimate in ultimate_list %}
                        {% if not ultimate.armour or ultimate.armour in allowed_armours %}
                            <tr>
                                <td class="text-center align-middle">{{ ultimate.type.name }}</td>
                                <td class="text-center align-middle">
                                    <a href="{% url 'gm:ultimate_detail' ultimate.slug %}">
                                        {{ ultimate.name }}
                                    </a>
                                </td>
                                <td class="text-center align-middle">{{ ultimate.restriction }}</td>
                                <td class="text-center align-middle">{{ ultimate.cost }}</td>
                                <td class="text-center align-middle">{{ ultimate.activation }}</td>
                                <td class="text-center align-middle d-none d-md-table-cell">{{ ultimate.duration }}</td>
                                <td class="text-center align-middle d-none d-md-table-cell">{{ ultimate.reach.name }}{% if ultimate.reach.short_description %}<small class="text-secondary"> - {{ ultimate.reach.short_description }}</small>{% endif %}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}

