{% load gm_extras %}
{% load martortags %}
{% load i18n %}

{% for element in results %}
    <div class="search-result">
        <h4><a href="{% url detail_uri element.slug %}">{{ element.name }}</a></h4>
        <ul>
            {% for result in element.results %}
                <li>
                    {% blocktrans trimmed with description=result.desc count matches=result.count_matches %}
                        {{ description }} : {{ matches }} correspondance
                    {% plural %}
                        {{ description }} : {{ matches }} correspondances
                    {% endblocktrans %}
                    {% if result.context %}
                        ({{ result.context|highlight:searchterm }})
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}