{% extends 'users/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Favoris" %} - {% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'users/js/favorites.js' %}"></script>
{% endblock js %}

{% block content %}
    <div class="row mt-3 sortable">
        {% for fav_list in favorite_lists %}
            {% if fav_list.id == 0 %}
                <div class="col-12"></div>
            {% endif %}
            {% include 'users/fav_list_content.html' with fav_list=fav_list only %}
        {% endfor %}
        <div class="col-12 col-md-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">{{ fav_list.name }}</h3>
                </div>
                <div class="card-body text-center">
                    <a href="#" class="btn btn-outline-success w-100 py-3 fav-list-add"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="edit-item" tabindex="-1" role="dialog" aria-labelledby="edit-item-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit-item-label">{% trans "Modifier un favori" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="edit-item-form" onsubmit="favorites.save_item(); return false;">
                        <input type="hidden" id="fav-item-type" />
                        <input type="hidden" id="fav-item-id" />
                        <div class="form-group">
                            <label for="fav-item-note" class="col-form-label">{% trans "Descriptif (optionnel) :" %}</label>
                            <input type="text" maxlength="1024" class="form-control" id="fav-item-note">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">{% trans "Listes" %}</label>
                        </div>
                        <div class="row" id="fav-list">
                            {% for fav_list in user.fav_lists.all %}
                                <div class="col-12 col-md-6">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" value="{{ fav_list.id }}">
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" data-toggle-checkbox aria-label="{{ fav_list.name }}" value="{{ fav_list.name }}" readonly>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="d-none">
                            <input type="submit" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-knightools-valid" onclick="favorites.save_item();">{% trans "Enregistrer" %}</button>
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit-list" tabindex="-1" role="dialog" aria-labelledby="edit-list-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit-list-label">{% trans "Modifier une liste de favoris" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="edit-list-form" onsubmit="favorites.save_list(); return false;">
                        <input type="hidden" id="fav-list-id" />
                        <div class="form-group">
                            <label for="fav-list-name" class="col-form-label">{% trans "Nom :" %}</label>
                            <input type="text" maxlength="64" class="form-control" id="fav-list-name">
                        </div>
                        <div class="d-none">
                            <input type="submit" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-knightools-valid" onclick="favorites.save_list();">{% trans "Enregistrer" %}</button>
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete-list" tabindex="-1" role="dialog" aria-labelledby="delete-list-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-list-label">{% trans "Supprimer une liste de favoris" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="delete-list-form" onsubmit="favorites.rm_list(); return false;">
                        <input type="hidden" id="fav-list-id" />
                        <div class="form-group">
                            <label for="fav-list-item-action" class="col-form-label">{% trans "Que faire des favoris dans cette liste ?" %}</label>
                            <select class="form-control" id="fav-list-item-action">
                                <option value="keep">{% trans "Conserver les favoris et les déplacer dans la liste par défaut si nécessaire" %}</option>
                                <option value="remove-orphan">{% trans "Supprimer les favoris n'étant pas dans une autre liste" %}</option>
                                <option value="remove-completely">{% trans "Supprimer tous les favoris associés, y compris s'ils sont dans d'autres listes" %}</option>
                            </select>
                        </div>
                        <div class="d-none">
                            <input type="submit" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="favorites.rm_list();">{% trans "Supprimer" %}</button>
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none" id="fav-url-manager"
        data-create-list-url=""
        data-delete-list-url="{% url 'users:fav_del_list' %}"
        data-edit-list-url="{% url 'users:fav_edit_list' %}"
        data-order-url="{% url 'users:fav_order_list' %}"
        data-copy-item-url="{% url 'users:fav_copy_item' %}"
        data-edit-item-url="{% url 'users:fav_edit_item' %}"
        data-delete-item-url="{% url 'users:fav_del_item' %}"
    ></div>
{% endblock %}
