{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}
{% load gm_extras %}

{% block title %}{% trans "Armure" %} {{ armour.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:armour_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des armures" %}</a>
    {% get_themed '$THEME$' user request.session only_name=True as knightools_style %}
    {% with img_src='gm/img/armour_logo/'|add:knightools_style|add:'/'|add:armour.slug|add:'.png' %}
    <div class="p-3 my-2 header-armour" {% if armour.is_allowed %}style="background-image: url({% static img_src %});"{% endif %}>
    {% endwith %}
        <h1 class="text-center font-weight-bold">{{ armour.name }}</h1>
        <h4 class="text-center">
            {% if not armour.is_allowed %}
                <span class="badge badge-pill badge-armour">{% trans 'PA' %} ?</span>
                <span class="badge badge-pill badge-energy">{% trans 'PE' %} ?</span>
                <span class="badge badge-pill badge-force-field">{% trans 'CdF' %} ?</span>
                <span class="badge badge-pill badge-generation">{% trans 'Gen.' %} ?</span>
            {% else %}
                <span class="badge badge-pill badge-armour">{% trans 'PA' %} {{ armour.armour_points }}</span>
                {% if armour.energy_points %}
                    <span class="badge badge-pill badge-energy">{% trans 'PE' %} {{ armour.energy_points }}</span>
                {% endif %}
                {% if armour.aegis %}
                    <span class="badge badge-pill badge-aegis">{% trans 'Égide' %} {{ armour.aegis }}</span>
                {% endif %}
                <span class="badge badge-pill badge-force-field">{% trans 'CdF' %} {{ armour.force_field }}</span>
                {% if armour.generation %}
                    <span class="badge badge-pill badge-generation">{% trans 'Gen.' %} {{ armour.generation }}</span>
                {% endif %}
                {% include 'users/favorite_on_item.html' with type="armour" id=armour.id is_favorite=armour.is_favorite %}
            {% endif %}
            </h4>
        <p>{% trans "Décrite dans :" %} {{ armour.origin }}</p>
        {% if armour.password and user.game_master %}
            <p>{% trans "Mot de passe pour débloquer cette armure protégée :" %} <span class="font-italic">{{ armour.password }}</span></p>
        {% endif %}
    </div>
    {% if not armour.is_allowed %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% trans "Accréditations limitées" %}
                </h5>
            </div>
            <div class="card-body text-justify">
                {% blocktrans trimmed %}
                    Vous n'avez pas les accréditations nécessaires pour visualiser cette armure.
                    Vous pouvez demander le code à votre MJ, qui doit l'avoir visible sur cette même page.
                    Une fois le code en votre possession, allez dans votre profil et dans la section "Activation de code",
                    collez le code fourni. Il vous débloquera l'accès à cette armure.
                {% endblocktrans %}
            </div>
        </div>
    {% else %}
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapseBackground" aria-expanded="false" aria-controls="collapseBackground">
                    <h5 class="font-weight-bold font-italic mb-0">
                        {% trans "Historique" %}
                        <i class="fa fa-plus-square"></i>
                    </h5>
                </a>
            </div>
            <div id="collapseBackground" class="collapse" aria-labelledby="background">
                <div class="card-body text-justify">
                    {{ armour.background_description|linebreaks }}
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapseTechnicalDescription" aria-expanded="false" aria-controls="collapseTechnicalDescription">
                    <h5 class="font-weight-bold font-italic mb-0">
                        {% trans "Description technique" %}
                        <i class="fa fa-plus-square"></i>
                    </h5>
                </a>
            </div>
            <div id="collapseTechnicalDescription" class="collapse" aria-labelledby="technicalDescription">
                <div class="card-body">
                    {% with img_src='gm/img/armour/'|add:armour.slug|add:'.png' %}
                        {% if img_src|file_exists %}
                        <div class="text-center">
                            <img class="mw-100" src="{% static img_src %}" />
                        </div>
                        {% endif %}
                    {% endwith %}
                    <div class="text-justify">
                        {{ armour.technical_description|linebreaks }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card-deck mb-sm-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="font-weight-bold font-italic mb-0">
                        {% trans "Slots disponibles" %}
                    </h5>
                </div>
                <div class="card-body">
                    <div class="slot">
                        <div class="slot-head">{{ armour.slot_head }}</div>
                        <div class="slot-left-arm">{{ armour.slot_left_arm }}</div>
                        <div class="slot-right-arm">{{ armour.slot_right_arm }}</div>
                        <div class="slot-torso">{{ armour.slot_torso }}</div>
                        <div class="slot-left-leg">{{ armour.slot_left_leg }}</div>
                        <div class="slot-right-leg">{{ armour.slot_right_leg }}</div>
                    </div>
                </div>
            </div>
            {% if armour.overdrives_list %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans "Overdrives" %}
                        </h5>
                    </div>
                    <div class="card-body" >
                        <div class="row">
                            <div class="col-12">
                                <ul>
                                    {% for overdrive in armour.overdrives_list %}
                                        {% with od=overdrive.characteristic.name|slugify|add:'-1' %}
                                            <li><a href="{% url 'gm:overdrive_detail' od %}">{{ overdrive.characteristic.name }}</a></li>
                                        {% endwith%}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if armour.additional_notes and armour.additional_notes|length < 200 %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans "Notes" %}
                        </h5>
                    </div>
                    <div class="card-body text-justify markdown-format">
                        {{ armour.additional_notes|safe_markdown }}
                    </div>
                </div>
            {% endif %}
        </div>
        {% if armour.additional_notes and armour.additional_notes|length >= 200 %}
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="font-weight-bold font-italic mb-0">
                        {% trans "Notes" %}
                    </h5>
                </div>
                <div class="card-body text-justify markdown-format">
                    {{ armour.additional_notes|safe_markdown }}
                </div>
            </div>
        {% endif %}
        {% if armour.abilities_list %}
            <div class="card mb-3">
                <div class="card-header position-relative">
                    <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapseAbilities" aria-expanded="true" aria-controls="collapseAbilities">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans "Capacités"%}
                            <i class="fa fa-minus-square"></i>
                        </h5>
                    </a>
                </div>
                <div id="collapseAbilities" class="collapse show" aria-labelledby="abilities">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            {% for ability in armour.abilities_list %}
                                {% if not forloop.first %}
                                    <div class="col-6 text-center knight-hr my-3"></div>
                                {% endif %}
                                <div class="col-12">
                                    <h4 class="text-center" id="capacity-{{ ability.name|slugify }}">{{ ability.name}}</h4>
                                    <div class="mt-3 markdown-format text-justify">
                                        {{ ability.description|safe_markdown }}
                                    </div>
                                    {% if ability.energy or ability.activation or ability.duration or ability.hope %}
                                    <table class="table table-sm table-bordered table-striped">
                                        <tbody class="thead-light">
                                            {% if ability.energy %}
                                                <tr>
                                                    <th class="w-25 text-center" scope="row">{% trans "Énergie" %}</th>
                                                    <td class="w-75">{{ ability.energy }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if ability.activation %}
                                                <tr>
                                                    <th class="w-25 text-center" scope="row">{% trans "Activation" %}</th>
                                                    <td class="w-75">{{ ability.activation }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if ability.duration %}
                                                <tr>
                                                    <th class="w-25 text-center" scope="row">{% trans "Durée" %}</th>
                                                    <td class="w-75">{{ ability.duration }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if ability.hope %}
                                                <tr>
                                                    <th class="w-25 text-center" scope="row">{% trans "Espoir" %}</th>
                                                    <td class="w-75">{{ ability.hope }}</td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    {% endif %}
                                    <div>
                                        {% if ability.variants.all %}
                                        <h5 class="text-center">{% trans "Variantes" %}</h5>
                                        <div>
                                            {% for variant in ability.variants.all %}
                                                <div class="card mb-3">
                                                    <div class="card-header position-relative">
                                                        <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapse{{variant.id}}" aria-expanded="false" aria-controls="collapse{{variant.id}}">
                                                            <h6 class="font-weight-bold font-italic mb-0">
                                                                {{ variant.name}}
                                                                <i class="fa fa-plus-square"></i>
                                                            </h6>
                                                        </a>
                                                    </div>
                                                    <div id="collapse{{variant.id}}" class="collapse" aria-labelledby="variant{{variant.id}}">
                                                        <div class="card-body">
                                                            <div class="markdown-format text-justify previewed-img">
                                                                {{ variant.description|safe_markdown }}
                                                            </div>
                                                            {% if variant.energy or variant.activation or variant.duration or variant.get_damage or variant.get_violence or variant.reach or variant.hope %}
                                                            <table class="table table-sm table-bordered table-striped">
                                                                <tbody class="thead-light">
                                                                    {% if variant.energy %}
                                                                        <tr>
                                                                            <th class="w-25 text-center" scope="row">{% trans "Énergie" %}</th>
                                                                            <td class="w-75">{{ variant.energy }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                    {% if variant.activation %}
                                                                        <tr>
                                                                            <th class="w-25 text-center" scope="row">{% trans "Activation" %}</th>
                                                                            <td class="w-75">{{ variant.activation }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                    {% if variant.duration %}
                                                                        <tr>
                                                                            <th class="w-25 text-center" scope="row">{% trans "Durée" %}</th>
                                                                            <td class="w-75">{{ variant.duration }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                    {% if variant.get_damage %}
                                                                        <tr>
                                                                            <th class="w-25 text-center" scope="row">{% trans "Dégâts" %}</th>
                                                                            <td class="w-75">{{ variant.get_damage }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                    {% if variant.get_violence %}
                                                                        <tr>
                                                                            <th class="w-25 text-center" scope="row">{% trans "Violence" %}</th>
                                                                            <td class="w-75">{{ variant.get_violence }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                    {% if variant.reach %}
                                                                        <tr>
                                                                            <th class="w-25 text-center" scope="row">{% trans "Portée" %}</th>
                                                                            <td class="w-75">{{ variant.reach.name }}{% if variant.reach.short_description %}<small class="text-secondary"> - {{ variant.reach.short_description }}</small>{% endif %}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                    {% if variant.hope %}
                                                                        <tr>
                                                                            <th class="w-25 text-center" scope="row">{% trans "Espoir" %}</th>
                                                                            <td class="w-75">{{ variant.hope }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                </tbody>
                                                            </table>
                                                            {% endif %}
                                                            {% if variant.npc %}
                                                                {% include 'gm/misc/npc_detail.html' with npc=variant.npc %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if ultimate %}
                                <div class="col-6 text-center knight-hr my-3"></div>
                                <div class="col-12">
                                    <h4 class="text-center" id="ultimate-{{ ultimate.name|slugify }}">{% trans "Capacité ultime :" %} {{ ultimate.name}}</h4>
                                    <div class="mt-3 markdown-format text-justify">
                                        {{ ultimate.description|safe_markdown }}
                                    </div>
                                    {% if ultimate.cost or ultimate.activation or ultimate.duration or ultimate.reach %}
                                    <table class="table table-sm table-bordered table-striped">
                                        <tbody class="thead-light">
                                            {% if ultimate.cost %}
                                                <tr>
                                                    <th class="w-25 text-center" scope="row">{% trans "Coût" %}</th>
                                                    <td class="w-75">{{ ultimate.cost }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if ultimate.activation %}
                                                <tr>
                                                    <th class="w-25 text-center" scope="row">{% trans "Activation" %}</th>
                                                    <td class="w-75">{{ ultimate.activation }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if ultimate.duration %}
                                                <tr>
                                                    <th class="w-25 text-center" scope="row">{% trans "Durée" %}</th>
                                                    <td class="w-75">{{ ultimate.duration }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if ultimate.reach %}
                                                <tr>
                                                    <th class="w-25 text-center" scope="row">{% trans "Portée" %}</th>
                                                    <td class="w-75">{{ ultimate.reach.name }}{% if ultimate.reach.short_description %}<small class="text-secondary"> - {{ ultimate.reach.short_description }}</small>{% endif %}</td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if armour.evolutions_list %}
            <div class="card mb-3">
                <div class="card-header position-relative">
                    <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapseEvolutions" aria-expanded="false" aria-controls="collapseEvolutions">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans "Évolutions"%}
                            <i class="fa fa-plus-square"></i>
                        </h5>
                    </a>
                </div>
                <div id="collapseEvolutions" class="collapse" aria-labelledby="evolutions">
                    <div class="card-body">
                        <table class="table table-sm table-bordered">
                            <thead class="thead-light text-center">
                                <tr>
                                    <th scope="col">{% trans "PG" %}</th>
                                    <th scope="col">{% trans "Description" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for evol in armour.evolutions_list %}
                                    <tr>
                                        <td class="text-center align-middle">{{ evol.unlock_at }}</td>
                                        <td class="text-justify markdown-format">{{ evol.description|safe_markdown }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if user.is_twin_ability_visible %}
            <div class="card mb-3">
                <div class="card-header position-relative">
                    <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapseTwin" aria-expanded="false" aria-controls="collapseTwin">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans "Capacités gémellaires compatibles"%}
                            <i class="fa fa-plus-square"></i>
                        </h5>
                    </a>
                </div>
                <div id="collapseTwin" class="collapse" aria-labelledby="twins">
                    <div class="card-body">
                        {% if user.game_master and twin_ability_feature %}
                            <p>{% trans "Clé d'activation de cet encart, à transmettre à vos PJ lorsqu'ils y auront accès :" %} <span class="font-italic text-warning px-2">{{ twin_ability_feature.key }}</span></p>
                        {% endif %}
                        <table class="table table-sm table-bordered">
                            <thead class="thead-light text-center">
                                <tr>
                                    <th scope="col">{% trans "Capacité" %}</th>
                                    <th scope="col">{% trans "Info" %}</th>
                                    <th scope="col" class="d-none d-sm-table-cell">{% trans "Énergie" %}</th>
                                    <th scope="col" class="d-none d-sm-table-cell">{% trans "Activation" %}</th>
                                    <th scope="col" class="d-none d-sm-table-cell">{% trans "Durée" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for twin_ability in armour.twin_abilities_list %}
                                    <tr>
                                        <td class="text-center align-middle">
                                            <a href="{% url 'gm:armour_detail' twin_ability.ability.armour.slug %}#capacity-{{ twin_ability.ability.name|slugify }}">
                                                <strong class="text-warning">{{ twin_ability.ability.armour.name }}</strong>
                                                <br/>
                                                {{ twin_ability.ability.name }}
                                            </a>
                                        </td>
                                        <td class="text-center align-middle">
                                            <div class="markdown-format text-justify">
                                                {{ twin_ability.description|safe_markdown }}
                                            </div>
                                            <div class="d-block d-sm-none">
                                                <table class="table table-sm table-bordered mb-0 mt-2">
                                                    <tbody class="thead-light">
                                                        <tr>
                                                            <th class="align-middle" scope="row">{% trans "Énergie" %}</th>
                                                            <td class="text-center align-middle">{% if twin_ability.energy %}{{ twin_ability.energy|linebreaksbr }}{% elif twin_ability.ability.energy %}{{ twin_ability.ability.energy }}{% elif twin_ability.ability.variants.all|length > 1 %}<em>{% trans "Dépend de la variante utilisée" %}</em>{% else %}{{ twin_ability.ability.variants.first.energy }}{% endif %}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="align-middle" scope="row">{% trans "Activation" %}</th>
                                                            <td class="text-center align-middle">{% if twin_ability.activation %}{{ twin_ability.activation|linebreaksbr }}{% elif twin_ability.ability.activation %}{{ twin_ability.ability.activation }}{% elif twin_ability.ability.variants.all|length > 1 %}<em>{% trans "Dépend de la variante utilisée" %}</em>{% else %}{{ twin_ability.ability.variants.first.activation }}{% endif %}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="align-middle" scope="row">{% trans "Durée" %}</th>
                                                            <td class="text-center align-middle">{% if twin_ability.duration %}{{ twin_ability.duration|linebreaksbr }}{% elif twin_ability.ability.duration %}{{ twin_ability.ability.duration }}{% elif twin_ability.ability.variants.all|length > 1 %}<em>{% trans "Dépend de la variante utilisée" %}</em>{% else %}{{ twin_ability.ability.variants.first.duration }}{% endif %}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                        <td class="text-center align-middle d-none d-sm-table-cell">{% if twin_ability.energy %}{{ twin_ability.energy|linebreaksbr }}{% elif twin_ability.ability.energy %}{{ twin_ability.ability.energy }}{% elif twin_ability.ability.variants.all|length > 1 %}<em>{% trans "Dépend de la variante utilisée" %}</em>{% else %}{{ twin_ability.ability.variants.first.energy }}{% endif %}</td>
                                        <td class="text-center align-middle d-none d-sm-table-cell">{% if twin_ability.activation %}{{ twin_ability.activation|linebreaksbr }}{% elif twin_ability.ability.activation %}{{ twin_ability.ability.activation }}{% elif twin_ability.ability.variants.all|length > 1 %}<em>{% trans "Dépend de la variante utilisée" %}</em>{% else %}{{ twin_ability.ability.variants.first.activation }}{% endif %}</td>
                                        <td class="text-center align-middle d-none d-sm-table-cell">{% if twin_ability.duration %}{{ twin_ability.duration|linebreaksbr }}{% elif twin_ability.ability.duration %}{{ twin_ability.ability.duration }}{% elif twin_ability.ability.variants.all|length > 1 %}<em>{% trans "Dépend de la variante utilisée" %}</em>{% else %}{{ twin_ability.ability.variants.first.duration }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    
    {% if armour.questions_list %}
        {% include 'gm/misc/faq_text.html' with questions=armour.questions_list %}
    {% endif %}
{% endblock %}
