{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}
{% load gm_extras %}

{% block title %}{% trans "Armure confidentielle" %} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:armour_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des armures" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{% trans "[CONFIDENTIEL]"%}</h1>
        <h4 class="text-center">
            <span class="badge badge-pill badge-primary">{% trans 'PA' %} ?</span>
            <span class="badge badge-pill badge-success">{% trans 'PE' %} ?</span>
            <span class="badge badge-pill badge-danger">{% trans 'CdF' %} ?</span>
            <span class="badge badge-pill badge-warning">{% trans 'Gen.' %} ?</span>
        </h4>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">
                {% trans "Accréditations limitées" %}
            </h5>
        </div>
        <div class="card-body text-justify">
            {% blocktrans trimmed %}
                Vous n'avez pas les accréditations nécessaires pour visualiser cette armure.
                Vous pouvez demander le code d'activation à votre MJ.
                Une fois le code en votre possession, allez dans votre profil et dans la section "Accréditations",
                collez le code fourni. Il vous débloquera l'accès à l'armure, qui sera dans la liste des armures.
            {% endblocktrans %}
        </div>
    </div>
{% endblock %}
