{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Effet" %} {{ effect.name}} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:effect_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des effets" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ effect.name }}</h1>
        <h4 class="text-center">
            {% include 'users/favorite_on_item.html' with type="effect" id=effect.id is_favorite=effect.is_favorite %}
        </h4>
        <p>{% trans "Décrit dans :" %} {{ effect.origin }}</p>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">{% trans "Description" %}</h5>
        </div>
        <div class="card-body markdown-format">
            {{ effect.description|safe_markdown }}
            {% if effect.example %}
                <p><strong>{% trans "Exemple :" %}</strong> <em>{{ effect.example }}</em></p>
            {% endif %}
        </div>
    </div>
    {% if effect.weapons_list %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% blocktrans trimmed count counter=effect.weapons_list|length %}
                        Arme liée
                        {% plural %}
                        Armes liées
                    {% endblocktrans %}
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for weapon in effect.weapons_list %}
                        <div class="col-md-3 col-6 border rounded text-center">
                            <a href="{% url 'gm:weapon_detail' weapon.slug %}">{{ weapon.name }}</a>
                            <span class="thumbnail-bg bg-custom-rarity-{{ weapon.rarity.id }}"></span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if effect.modules_list %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% blocktrans trimmed count counter=effect.modules_list|length %}
                        Module lié
                        {% plural %}
                        Modules liés
                    {% endblocktrans %}
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for module in effect.modules_list %}
                        <div class="col-md-3 col-6 border rounded text-center">
                            <a href="{% url 'gm:module_detail' module.slug %}">{{ module.name }} ({{ module.category.name }})</a>
                            <span class="thumbnail-bg bg-custom-rarity-{{ module.min_rarity }}"></span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if effect.enhancements_list %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% blocktrans trimmed count counter=effect.enhancements_list|length %}
                        Amélioration d'armes liée
                        {% plural %}
                        Améliorations d'armes liées
                    {% endblocktrans %}
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for enhancement in effect.enhancements_list %}
                        <div class="col-md-3 col-6 border rounded text-center">
                            <a href="{% url 'gm:enhancement_detail' enhancement.slug %}">{{ enhancement.name }} {% if enhancement.group %} ({{ enhancement.get_group_display }}) {% endif %} </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    
    {% if effect.questions_list %}
        {% include 'gm/misc/faq_text.html' with questions=effect.questions_list %}
    {% endif %}
{% endblock %}