{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}
{% load gm_extras %}

{% block title %}{% trans "Mecha-armure confidentielle" %} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:mecha_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des mecha-armures" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{% trans "[CONFIDENTIEL]"%}</h1>
        <h4 class="text-center">
            <span class="badge badge-pill badge-primary">{% trans 'Résilience' %} ?</span>
            <span class="badge badge-pill badge-armour">{% trans 'Blindage' %} ?</span>
            <span class="badge badge-pill badge-force-field">{% trans 'CdF' %} ?</span>
        </h4>
        <h5 class="text-center">
            <span class="badge badge-pill badge-info">{% trans 'Vitesse' %} ?</span>
            <span class="badge badge-pill badge-info">{% trans 'Manœuvrabilité' %} ?</span>
            <span class="badge badge-pill badge-info">{% trans 'Puissance' %} ?</span>
            <span class="badge badge-pill badge-info">{% trans 'Senseurs' %} ?</span>
            <span class="badge badge-pill badge-info">{% trans 'Systèmes' %} ?</span>
        </h5>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">
                {% trans "Accréditations limitées" %}
            </h5>
        </div>
        <div class="card-body text-justify">
            {% blocktrans trimmed %}
                Vous n'avez pas les accréditations nécessaires pour visualiser cette page.
                Vous pouvez demander le code d'activation à votre MJ.
                Une fois le code en votre possession, allez dans votre profil et dans la section "Accréditations",
                collez le code fourni. Il vous débloquera l'accès à la mecha-armure, qui sera dans la liste correspondante.
            {% endblocktrans %}
        </div>
    </div>
{% endblock %}
