{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}
{% load gm_extras %}

{% block title %}{% trans "Mod." %} {{ module.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:module_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des modules" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ module.name }}</h1>
        <h4 class="text-center">
            <span class="badge badge-pill badge-secondary">{{ module.category.name }}</span>
            {% include 'users/favorite_on_item.html' with type="module" id=module.id is_favorite=module.is_favorite %}
        </h4>
        <p>{% trans "Décrit dans :" %} {{ module.origin }}</p>
        <p><em>{{ module.gear }}</em></p>
    </div>
    {% with img_src='gm/img/module/'|add:module.slug|add:'.png' %}
        {% if img_src|file_exists %}
        <div class="text-center">
            <img class="card-illustration" src="{% static img_src %}" />
        </div>
        {% endif %}
    {% endwith %}
    {% if module.slots_list %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% blocktrans trimmed count counter=module.count_slots %}
                        Slots pris
                    {% plural %}
                        Slots nécessaires possibles
                    {% endblocktrans %}
                </h5>
            </div>
            <div class="card-body" >
                <div class="row justify-content-around m-3">
                    {% for slots in module.slots_list %}
                        <div class="col text-center">
                            <div class="slot">
                                <div class="slot-head">{% if slots.head %}{{ slots.head }}{% endif %}</div>
                                <div class="slot-left-arm">{% if slots.left_arm %}{{ slots.left_arm }}{% endif %}</div>
                                <div class="slot-right-arm">{% if slots.right_arm %}{{ slots.right_arm }}{% endif %}</div>
                                <div class="slot-torso">{% if slots.torso %}{{ slots.torso }}{% endif %}</div>
                                <div class="slot-left-leg">{% if slots.left_leg %}{{ slots.left_leg }}{% endif %}</div>
                                <div class="slot-right-leg">{% if slots.right_leg %}{{ slots.right_leg }}{% endif %}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% for level in module.levels_list %}
        {% regroup level.effects.all by choice_number as effect_list %}
        <div class="card mb-3">
            <div class="card-header bg-custom-rarity-header-{{ level.rarity.id }}">
                <h5 class="font-weight-bold font-italic mb-0">{% if module.levels.all|length > 1 %}{% trans "Niv." %} {{ level.level }} : {% endif %}{{ level.cost }} {% trans "PG" %}</h5>
            </div>
            <div class="card-body">
                <div class="markdown-format text-justify">
                    {{ level.description|safe_markdown }}
                </div>
                {% for npc in level.npcs.all %}
                    <div class="card mb-3">
                        <div class="card-header bg-dark">
                            <h6 class="text-light">{% trans "Statistiques PNJ" %} - {{ npc.name }}</h6>
                        </div>
                        <div class="card-body">
                            {% include 'gm/misc/npc_detail.html' with npc=npc %}
                        </div>
                    </div>
                {% endfor %}
                
                <div class="d-none d-sm-block">
                    <table class="table table-sm text-center">
                        <thead class="thead-light">
                            <tr>
                                {% if level.get_damage %}
                                    <th scope="col">{% trans "Dégâts" %}</th>
                                {% endif %}
                                {% if level.get_violence %}
                                    <th scope="col">{% trans "Violence" %}</th>
                                {% endif %}
                                {% if level.activation %}
                                    <th scope="col">{% trans "Activation" %}</th>
                                {% endif %}
                                {% if level.duration != '-' %}
                                    <th scope="col">{% trans "Durée" %}</th>
                                {% endif %}
                                {% if level.reach %}
                                    <th scope="col">{% trans "Portée" %}</th>
                                {% endif %}
                                {% if level.energy > 0 %}
                                    <th scope="col">{% trans "Énergie" %}</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% if level.get_damage %}
                                    <td>
                                        {{ level.get_damage }}
                                    </td>
                                {% endif %}
                                {% if level.get_violence %}
                                    <td>
                                        {{ level.get_violence }}
                                    </td>
                                {% endif %}
                                {% if level.activation %}
                                    <td>
                                        {{ level.activation.name }}
                                    </td>
                                {% endif %}
                                {% if level.duration != '-' %}
                                    <td>
                                        {{ level.duration }}
                                    </td>
                                {% endif %}
                                {% if level.reach %}
                                    <td>
                                        {{ level.reach.name }}{% if level.reach.short_description %}<small class="text-secondary"> - {{ level.reach.short_description }}</small>{% endif %}
                                    </td>
                                {% endif %}
                                {% if level.energy > 0 %}
                                    <td>
                                        {{ level.energy }}
                                    </td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                    {% for choice, effects in effect_list %}
                        <table class="table table-sm">
                            <thead class="thead-light text-center">
                                <tr>
                                    <th scope="col">
                                        {% if choice > 0 %}
                                            {% trans "Choix" %} {{ choice }}
                                        {% else %}
                                            {% trans "Effet(s)" %}
                                        {% endif %}
                                    </th>
                                    <th scope="col">{% trans "Dégâts" %}</th>
                                    <th scope="col">{% trans "Violence" %}</th>
                                    <th scope="col">{% trans "Remarques / Condition" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for effect in effects %}
                                <tr>
                                    <td>
                                        {% if effect.get_name %}
                                            {% include 'gm/misc/effect_link.html' with effect=effect only %}
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if effect.damage %}
                                            {{ effect.damage }}D6
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if effect.violence %}
                                            {{ effect.violence }}D6
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if effect.effect_condition %}
                                            <div>{{ effect.effect_condition }}</div>
                                        {% endif %}
                                        {% if effect.forced_by_previous_level %}
                                            <div>Forcé par le choix {{ choice }} fait au niveau {{ level.level|add:-1 }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
                <div class="d-block d-sm-none">
                    <table class="table table-sm table-striped table-bordered">
                        <tbody class="thead-light">
                            {% if level.get_damage %}
                                <tr>
                                    <th class="text-center" scope="row">{% trans "Dégâts" %}</th>
                                    <td>{{ level.get_damage }}</td>
                                </tr>
                            {% endif %}
                            {% if level.get_violence %}
                                <tr>
                                    <th class="text-center" scope="row">{% trans "Violence" %}</th>
                                    <td>{{ level.get_violence }}</td>
                                </tr>
                            {% endif %}
                            {% if level.energy > 0 %}
                                <tr>
                                    <th class="text-center" scope="row">{% trans "Énergie" %}</th>
                                    <td>{{ level.energy }}</td>
                                </tr>
                            {% endif %}
                            {% if level.duration != '-' %}
                                <tr>
                                    <th class="text-center" scope="row">{% trans "Durée" %}</th>
                                    <td>{{ level.duration }}</td>
                                </tr>
                            {% endif %}
                            {% if level.reach.id > 0 %}
                                <tr>
                                    <th class="text-center" scope="row">{% trans "Portée" %}</th>
                                    <td>{{ level.reach.name }}{% if level.reach.short_description %}<small class="text-secondary"> - {{ level.reach.short_description }}</small>{% endif %}</td>
                                </tr>
                            {% endif %}
                            {% if level.activation.id > 0 %}
                                <tr>
                                    <th class="text-center" scope="row">{% trans "Activation" %}</th>
                                    <td>{{ level.activation.name }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    {% for choice, effects in effect_list %}
                        <table class="table table-sm">
                            <thead class="thead-light text-center">
                                <tr>
                                    <th scope="col">
                                        {% if choice > 0 %}
                                            {% trans "Choix" %} {{ choice }}
                                        {% else %}
                                            {% trans "Effet(s)" %}
                                        {% endif %}
                                    </th>
                                    <th scope="col">{% trans "Dégâts" %}</th>
                                    <th scope="col">{% trans "Violence" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for effect in effects %}
                                    <tr>
                                        <td>
                                            {% if effect.get_name %}
                                                {% include 'gm/misc/effect_link.html' with effect=effect only %}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if effect.damage %}
                                                {{ effect.damage }}D6
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if effect.violence %}
                                                {{ effect.violence }}D6
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% if effect.effect_condition or effect.forced_by_previous_level %}
                                        <tr>
                                            <td colspan="3">
                                                <strong>{% trans "Remarques / Condition :" %} </strong>
                                                {% if effect.effect_condition %}
                                                    <span>{{ effect.effect_condition }}</span>
                                                {% endif %}
                                                {% if effect.forced_by_previous_level %}
                                                    <span>{% blocktrans with prev=level.level|add:-1 choice=choice %}Forcé par le choix {{ choice }} fait au niveau {{ prev }}{% endblocktrans %}</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    
    {% include 'gm/misc/bound_enhancements_list.html' with enhancements_list=module.enhancements_list count_enhancements=module.count_enhancements %}
    
    {% if module.vehicles_list %}
        <div class="d-none d-sm-block">
            {% for vehicle in module.vehicles_list %}
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">{% trans "Véhicule lié :" %} {{ vehicle.vehicle.name }}</h5>
                    </div>
                    <div class="card-body">
                        {% include 'gm/misc/vehicle_detail.html' with vehicle=vehicle.vehicle only %}
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="d-block d-sm-none">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="font-weight-bold font-italic mb-0">
                        {% blocktrans trimmed count counter=module.vehicles_list|length %}
                            Véhicule lié
                        {% plural %}
                            Véhicules liés
                        {% endblocktrans %}
                    </h5>
                </div>
                <div class="card-body">
                    <ul>
                        {% for vehicle in module.vehicles_list %}
                            <li><a href="{% url 'gm:vehicle_detail' vehicle.vehicle.slug %}">{{ vehicle.vehicle.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    
    {% if module.questions_list %}
        {% include 'gm/misc/faq_text.html' with questions=module.questions_list %}
    {% endif %}
{% endblock %}