{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Capacité PNJ" %} {{ capacity.name}} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:npc_capacity_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des capacités PNJ" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ capacity.name }}</h1>
        <h4 class="text-center">
            <span class="badge badge-pill badge-secondary">{% if capacity.common %}{% trans "Commune" %}{% else %}{% trans "Spécifique" %}{% endif %}</span>
            <span class="badge badge-pill badge-primary">{% if capacity.elite %}{% trans "Élite" %}{% else %}{% trans "Non-élite" %}{% endif %}</span>
            <span class="badge badge-pill badge-custom-difficulty-{{ capacity.min_difficulty.id }}">{{ capacity.min_difficulty.name|capfirst }} {% trans "min." %}</span>
        </h4>
    </div>
    
    {% if not user.game_master %}
        <div class="mt-3">
            <div class="text-justify alert alert-info">
                <i class="fas fa-info-circle"></i>
                {% blocktrans trimmed %}
                    Vous visualisez une version altérée de cette page, car votre compte n'est pas MJ.
                    Peut-être avez-vous obtenu le lien de cette page par votre MJ, dans le contexte de
                    création d'un PNJ via vos points de contacts ou autre. Mais certaines
                    données restent accessibles uniquement par un compte MJ, en particulier dans le
                    tableau des compatibilités.
                {% endblocktrans %}
            </div>
        </div>
    {% endif %}
    
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">{% trans "Description" %}</h5>
        </div>
        <div class="card-body markdown-format text-justify">
            {{ capacity.description|safe_markdown }}
        </div>
    </div>
    
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">{% trans "Compatibilité" %}</h5>
        </div>
        <div class="card-body text-center">
            <p>{{ capacity.precision }}</p>
            {% if capacity.penalty %}
                <p>{% trans "Cette capacité est un malus, elle permet d'octroyer au PNJ la possédant une capacité supplémentaire de type recrue, initié ou héros." %}</p>
            {% endif %}
            <div>
                <table class="table table-sm table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th class="{% if not user.game_master %}w-50{% else %}w-25{% endif %} text-center align-middle" scope="col">{% trans "Humain" %}</th>
                            <th class="{% if not user.game_master %}w-50{% else %}w-25{% endif %} text-center align-middle" scope="col">{% trans "Anathème" %}</th>
                            {% if user.game_master %}
                                <th class="w-25 text-center align-middle" scope="col">{% trans "Éther" %}</th>
                                <th class="w-25 text-center align-middle" scope="col">{% trans "Vide" %}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <td class="py-2 text-center align-middle">{% if capacity.human_allowed %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                        <td class="py-2 text-center align-middle">{% if capacity.anathema_allowed %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                        {% if user.game_master %}
                            <td class="py-2 text-center align-middle">{% if capacity.ether_allowed %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                            <td class="py-2 text-center align-middle">{% if capacity.void_allowed %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-sm table-striped">
                    <thead class="thead-light">
                        <tr>
                            {% for npc_type in npc_types %}
                                <th class="text-center align-middle" style="width: calc(100%/{{ npc_types.all|length }});" scope="col">{{ npc_type.name|capfirst }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <body>
                        {% for npc_type in npc_types %}
                            <td class="py-2 text-center align-middle" scope="col">{% if npc_type in capacity.types.all %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                        {% endfor %}
                    </body>
                </table>
            </div>
        </div>
    </div>
    
    {% if capacity.questions_list %}
        {% include 'gm/misc/faq_text.html' with questions=capacity.questions_list %}
    {% endif %}
{% endblock %}
