{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Cap. Hér." %} {{ skill.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:skill_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des capacités héroïques" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ skill.name }}</h1>
        <h4 class="text-center">
            <span class="badge badge-pill badge-secondary">{{ skill.category.name }}</span>
            <span class="badge badge-pill badge-secondary">{{ skill.xp_cost }} {% trans "XP" %}</span>
        </h4>
        <p>{% trans "Décrit dans :" %} {{ skill.origin }}</p>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">
                {% trans 'Description' %}
            </h5>
        </div>
        <div class="card-body text-justify">
            <div class="markdown-format">
                {{ skill.description|safe_markdown }}
            </div>
            <table class="table table-sm table-striped table-bordered">
                <tbody class="thead-light">
                    <tr>
                        <th scope="row" class="w-25 text-center">{% trans "Activation" %}</th>
                        <td>{{ skill.activation }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="w-25 text-center">{% trans "Durée" %}</th>
                        <td>{{ skill.duration }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="w-25 text-center">{% trans "Héroïsme" %}</th>
                        <td>{{ skill.heroic_cost }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    {% if skill.questions_list %}
        {% include 'gm/misc/faq_text.html' with questions=skill.questions_list %}
    {% endif %}
{% endblock %}
