{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Capacité ultime" %} {{ ultimate.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:ultimate_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des capacités ultimes" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ ultimate.name }}</h1>
        {% if not ultimate.armour or ultimate.armour in allowed_armours %}
            <h4 class="text-center">
                <span class="badge badge-pill badge-secondary">{{ ultimate.type.name }}</span>
            </h4>
            <blockquote class="blockquote font-italic text-center text-muted">
                <p>{{ ultimate.quote }}</p>
            </blockquote>
        {% endif %}
    </div>
    {% if ultimate.armour and ultimate.armour not in allowed_armours %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% trans "Accréditations limitées" %}
                </h5>
            </div>
            <div class="card-body text-justify">
                {% blocktrans trimmed %}
                    Vous n'avez pas les accréditations nécessaires pour visualiser cette capacité ultime.
                    Cela vient du fait que cette capacité est liée à une armure à laquelle vous n'avez pas accès.
                    Vous pouvez demander le code pour débloquer l'armure liée à votre MJ, qui doit l'avoir visible sur la page de l'armure.
                    Une fois le code en votre possession, allez dans votre profil et dans la section "Activation de code",
                    collez le code fourni. Il vous débloquera l'accès à cette capacité ultime.
                {% endblocktrans %}
            </div>
        </div>
    {% else %}
        <div class="card-deck">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="font-weight-bold font-italic mb-0">
                        {% trans 'Description' %}
                    </h5>
                </div>
                <div class="card-body text-justify markdown-format">
                    {{ ultimate.description|safe_markdown }}
                </div>
            </div>
            
            {% if ultimate.restriction or ultimate.cost or ultimate.activation or ultimate.duration or ultimate.reach %}
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans 'Données techniques' %}
                        </h5>
                    </div>
                    <div class="card-body text-justify">
                        <table class="table table-sm table-bordered">
                            <tbody class="thead-light">
                                {% if ultimate.restriction %}
                                    <tr>
                                        <th class="text-center align-middle" scope="row">{% trans "Restriction" %}</th>
                                        <td class="text-center align-middle">
                                            {% if ultimate.crest or ultimate.armour %}
                                            <a href="{% if ultimate.crest %}{% url 'gm:crest_detail' ultimate.crest.slug %}{% else %}{% url 'gm:armour_detail' ultimate.armour.slug %}{% endif %}">{{ ultimate.restriction }}</a>
                                            {% else %}
                                                {{ ultimate.restriction }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if ultimate.cost %}
                                    <tr>
                                        <th class="text-center align-middle" scope="row">{% trans "Coût" %}</th>
                                        <td class="text-center align-middle">{{ ultimate.cost }}</td>
                                    </tr>
                                {% endif %}
                                {% if ultimate.activation %}
                                    <tr>
                                        <th class="text-center align-middle" scope="row">{% trans "Activation" %}</th>
                                        <td class="text-center align-middle">{{ ultimate.activation }}</td>
                                    </tr>
                                {% endif %}
                                {% if ultimate.duration %}
                                    <tr>
                                        <th class="text-center align-middle" scope="row">{% trans "Durée" %}</th>
                                        <td class="text-center align-middle">{{ ultimate.duration }}</td>
                                    </tr>
                                {% endif %}
                                {% if ultimate.reach %}
                                    <tr>
                                        <th class="text-center align-middle" scope="row">{% trans "Portée" %}</th>
                                        <td class="text-center align-middle">{{ ultimate.reach.name }}{% if ultimate.reach.short_description %}<small class="text-secondary"> - {{ ultimate.reach.short_description }}</small>{% endif %}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
