{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}
{% load gm_extras %}

{% block title %}{% trans "Arme" %} {{ weapon.name }} ({{ weapon.category.name }}) - {% endblock %}

{% block content %}
    <a href="{% url 'gm:weapon_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des armes" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ weapon.name }}</h1>
        <h4 class="text-center">
            {% with 'gm/img/icons8-'|add:weapon.category.get_src|add:'-filled-50.png' as image_src %}
                <span class="badge"><img src="{% static image_src %}" width="32" height="32" title="{{ weapon.category.name }}" class="inverted-on-dark"></span>
            {% endwith %}
            <span class="badge badge-pill badge-custom-rarity-{{weapon.rarity.id}}">{{ weapon.rarity.name }}</span>
            {% if weapon.cost > 0 %}
                <span class="badge badge-pill badge-secondary">{{ weapon.cost }} {% trans "PG" %}</span>
            {% endif %}
            {% include 'users/favorite_on_item.html' with type="weapon" id=weapon.id is_favorite=weapon.is_favorite %}
        </h4>
        <p>{% trans "Décrite dans :" %} {{ weapon.origin }}</p>
        {% if weapon.nicknames %}
            <p>
                <span><em>{% trans "Surnoms :" %}</em></span> <span><em>{{ weapon.nicknames }}</em></span>
            </p>
        {% endif %}
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">{% trans "Description" %}</h5>
        </div>
        <div class="card-body markdown-format text-justify">
            {% with img_src='gm/img/weapon/'|add:weapon.slug|add:'.png' %}
                {% if img_src|file_exists %}
                <div class="text-center">
                    <img class="card-illustration" src="{% static img_src %}" />
                </div>
                {% endif %}
            {% endwith %}
            <div>
                {{ weapon.description|safe_markdown }}
            </div>
        </div>
    </div>
    {% if weapon.attacks_list %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% blocktrans trimmed count counter=weapon.attacks_list|length %}
                        Attaque
                        {% plural %}
                        Attaques
                    {% endblocktrans %}
                </h5>
            </div>
            <div class="card-body">
                {% for attack in weapon.attacks_list %}
                    {% if weapon.count_attacks > 1 %}
                        <div class="card mb-3">
                            <div class="card-header">
                                <h6 class="font-italic mb-0">{{ attack.name }}</h6>
                            </div>
                            <div class="card-body">
                    {% endif %}
                    <div class="d-none d-sm-block">
                        <table class="table table-sm">
                            <thead class="thead-light">
                                <th scope="col" class="align-middle text-center th-dmg">{% trans "Dégâts" %}</th>
                                <th scope="col" class="align-middle text-center th-dmg">{% trans "Violence" %}</th>
                                <th scope="col" class="align-middle text-center th-reach">{% trans "Portée" %}</th>
                                <th scope="col" class="align-middle text-center th-energy">{% trans "Énergie" %}</th>
                                <th scope="col" class="align-middle text-center">{% trans "Effet(s)" %}</th>
                                {% if attack.max_effect_energy > 0 %}
                                    <th scope="col" class="align-middle text-center th-energy">{% trans "Énergie (effet)" %}</th>
                                {% endif %}
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle text-center">{{ attack.get_damage }}</td>
                                    <td class="align-middle text-center">{{ attack.get_violence }}</td>
                                    <td class="align-middle text-center">{{ attack.reach }}{% if attack.reach.short_description %}<small class="text-secondary"> - {{ attack.reach.short_description }}</small>{% endif %}</td>
                                    <td class="align-middle text-center">
                                        {% if attack.energy > 0 %}
                                            {{ attack.energy }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {% if attack.effects %}
                                            {% regroup attack.effects.all by energy as effects_list %}
                                            {% for effect_energy, effects_list in effects_list %}
                                                <div class="row">
                                                    {% for effect in effects_list %}
                                                        {% include 'gm/misc/effect_link.html' with effect=effect only %}
                                                        {% if effect.effect_condition %}
                                                            <em>&nbsp;({{ effect.effect_condition }})&nbsp;</em>
                                                        {% endif %}
                                                        {% if not forloop.last %}<span>&nbsp;-&nbsp;</span>{% endif %}
                                                    {% endfor %}
                                                </div>
                                                {% if attack.max_effect_energy > 0 %}
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        {% if effect_energy > 0 %}
                                                            {{ effect_energy }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </td>
                                                    {% if not forloop.last %}
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4"></td>
                                                            <td>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-block d-sm-none">
                        <table class="table table-sm table-bordered table-striped">
                            <tbody class="thead-light">
                                {% if attack.get_damage %}
                                    <tr>
                                        <th class="align-middle text-center" scope="row">{% trans "Dégâts" %}</th>
                                        <td>{{ attack.get_damage }}</td>
                                    </tr>
                                {% endif%}
                                {% if attack.get_violence %}
                                    <tr>
                                        <th class="align-middle text-center" scope="row">{% trans "Violence" %}</th>
                                        <td>{{ attack.get_violence }}</td>
                                    </tr>
                                {% endif%}
                                <tr>
                                    <th class="align-middle text-center" scope="row">{% trans "Portée" %}</th>
                                    <td>{{ attack.reach }}{% if variant.reach.short_description %}<small class="text-secondary"> - {{ variant.reach.short_description }}</small>{% endif %}</td>
                                </tr>
                                {% if attack.energy > 0 %}
                                    <tr>
                                        <th class="align-middle text-center" scope="row">{% trans "Énergie" %}</th>
                                        <td>{{ attack.energy }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        {% if attack.effects.all %}
                            {% if attack.max_effect_energy > 0 %}
                                <table class="table table-sm table-striped">
                                    <thead class="thead-light">
                                        <th scope="col" class="w-75">{% trans "Effet" %}</th>
                                        <th scope="col" class="w-25">{% trans "Énergie" %}</th>
                                    </thead>
                                    <tbody>
                                        {% for effect in attack.effects.all %}
                                            <tr>
                                                <td>
                                                    {% include 'gm/misc/effect_link.html' with effect=effect only %}
                                                    {% if effect.effect_condition %}
                                                        <p>
                                                            <em>({{ effect.effect_condition }})</em>
                                                        </p>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if effect.energy > 0 %}
                                                        {{ effect.energy }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <table class="table table-sm table-striped">
                                    <thead class="thead-light">
                                        <th scope="col" class="w-75">{% trans "Effet" %}</th>
                                    </thead>
                                    <tbody>
                                        {% for effect in attack.effects.all %}
                                            <tr>
                                                <td>
                                                    {% include 'gm/misc/effect_link.html' with effect=effect only %}
                                                    {% if effect.effect_condition %}
                                                        <em>({{ effect.effect_condition }})</em>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if weapon.count_attacks > 1 %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
    {% include 'gm/misc/bound_enhancements_list.html' with enhancements_list=weapon.enhancements_list count_enhancements=weapon.count_enhancements %}
    
    {% if weapon.questions_list %}
        {% include 'gm/misc/faq_text.html' with questions=weapon.questions_list %}
    {% endif %}
{% endblock %}
