{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des améliorations" %} - {% endblock %}

{% block content %}
    <div class="d-print-block">
        {% regroup enhancement_list by category as enhancement_by_category_list %}
        
        {% for category, enhancement_category_list in enhancement_by_category_list %}
            <div style="page-break-after: always;">
                <h1 class="text-center m-5 bg-secondary">{{ category.name }}</h1>
                
                {% regroup enhancement_category_list by get_group_display as enhancement_by_group_list %}
                
                {% for group, enhancement_group_list in enhancement_by_group_list %}
                    {% if group %}
                        <h2 class="text-center mb-2 border">{{ group }}</h2>
                    {% endif %}
                    
                    {% for enhancement in enhancement_group_list %}
                        <div style="page-break-inside: avoid;">
                            <h3>{{ enhancement.name }} ({{ enhancement.cost }} {% trans "PG" %})</h3>
                            <div class="text-justify">
                                {{ enhancement.description|safe_markdown }}
                                {% if enhancement.restriction %}
                                    <p><em>{% trans "Restriction" %}</em> {{ enhancement.restriction }}</p>
                                {% endif %}
                            </div>
                            <div>
                                <p>
                                    <em>{% trans "Effets" %}</em>
                                    {% for effect in enhancement.effects.all %}
                                        {{ effect.get_name }}
                                        {% if not forloop.last %} ; {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                
            </div>
        {% endfor %}
    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}