{% extends 'gm/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Liste des overdrives" %} - {% endblock %}

{% block content %}
    <div class="d-print-block">
        {% regroup overdrive_list by characteristic.aspect as overdrive_by_aspect %}
        
        {% for aspect, overdrive_list_by_aspect in overdrive_by_aspect %}
            <h1 class="text-center m-5 bg-secondary">{{ aspect.name }}</h1>
            
            {% regroup overdrive_list_by_aspect by characteristic as overdrive_by_charac %}
            
            {% for charac, overdrive_final_list in overdrive_by_charac%}
                <h2 class="text-center mb-2 border">{{ charac.name }}</h2>
                
                <table class="table table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="text-center" style="width: 2em;">{% trans "Niv." %}</th>
                            <th scope="col" class="text-center" style="width: 5em;">{% trans "Prix" %}</th>
                            <th scope="col" class="text-center">{% trans "Description" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for overdrive in overdrive_final_list %}
                            <tr>
                                <td class="text-center">{{ overdrive.level }}</td>
                                <td class="text-center"><div class="border font-weight-bold text-dark text-center px-2 bg-custom-rarity-{{ overdrive.rarity.id }}">{{ overdrive.cost }} {% trans "PG" %}</div></td>
                                <td><div class="text-justify">{{ overdrive.description }}</div></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}