{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des traumas" %} - {% endblock %}

{% block content %}
    <div class="d-print-block">
        {% regroup trauma_list by category as trauma_by_category %}
        {% for category, trauma_list_by_category in trauma_by_category %}
            <h1 class="text-center m-5">{{ category.name }} (+{{ category.hop_recovered}} {% trans "PES" %})</h1>
            <div>{{ category.description }}</div>
			<table class="table table-sm">
				<thead class="thead-light">
					<tr>
						<th scope="col" class="text-center" style="width: 2em;">{% trans "D6" %}</th>
						<th scope="col" class="text-center" style="width: 5em;">{% trans "Nom" %}</th>
						<th scope="col" class="text-center">{% trans "Description" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for trauma in trauma_list_by_category %}
						<tr>
							<td class="text-center">{{ trauma.die_value }}</td>
							<td class="text-center">{{ trauma.name }}</td>
							<td><div class="text-justify">{{ trauma.description|safe_markdown }}</div></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
        {% endfor %}
    </div>
{% endblock %}