ul.sortable {
    margin: 0 0 1em 0;
    padding: 0 0 0 1em; /* make space for li's :before */
    list-style: none;
    min-height: 20px;
}

.fav-list-manage {
	width: 80px;
}

.drop-zone {
    z-index: 10;
}

.drop-zone-elt {
    opacity: 0.5;
}

.fav-list-add {
    font-size: 3em;
}

.edit-fav-list {
    right: 0;
    top: 0;
}

.rm-fav-list {
    right: 0;
    bottom: 0;
}

.ui-sortable-handle {
    cursor: grab;
}