{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Générateur d'IA" %} - {% endblock %}

{% block content %}
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">Générateur d'IA</h1>
        <h4 class="text-center">
            <a class="badge badge-pill badge-primary" href="{% url 'gm:ai_informations' ai_fullcode %}"><i class="fas fa-flag"></i> {% trans 'Code' %} {{ ai_fullcode }}</a>
        </h4>
    </div>
    
    
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">
                {% trans 'Comportement' %}
            </h5>
        </div>
        <div class="card-body text-justify">
            <ul class="nav nav-tabs justify-content-center" id="behaviorTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="simplebehavior-tab" data-toggle="tab" href="#simplebehavior" role="tab" aria-controls="simplebehavior" aria-selected="true">{% trans "Simple" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="advancedbehavior-tab" data-toggle="tab" href="#advancedbehavior" role="tab" aria-controls="advancedbehavior" aria-selected="false">{% trans "Avancé" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="complexbehavior-tab" data-toggle="tab" href="#complexbehavior" role="tab" aria-controls="complexbehavior" aria-selected="false">{% trans "Complexe" %}</a>
                </li>
            </ul>
            <div class="tab-content mt-3" id="behaviorTabContent">
                <div class="tab-pane show active fade text-justify markdown-format" id="simplebehavior" role="tabpanel" aria-labelledby="simplebehavior-tab">
                    {% for ai in ai_list %}
                        {% if forloop.counter0 < 1 %}
                            <p>{{ ai.ai_behavior }}</p>
                            <p class="mb-0"><strong>{% trans "Mot-clé :" %}</strong> {{ ai.ai_keyword }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-pane  fade text-justify markdown-format" id="advancedbehavior" role="tabpanel" aria-labelledby="advancedbehavior-tab">
                    {% for ai in ai_list %}
                        {% if forloop.counter0 < 3 %}
                            <p>{{ ai.ai_behavior }}</p>
                            <p class="mb-0"><strong>{% trans "Mot-clé :" %}</strong> {{ ai.ai_keyword }}</p>
                        {% endif %}
                        
                        {% if forloop.counter0 < 2 %}
                            <div class="text-center"><div class="knight-hr my-3 d-inline-block w-50"></div></div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-pane  fade text-justify markdown-format" id="complexbehavior" role="tabpanel" aria-labelledby="complexbehavior-tab">
                    {% for ai in ai_list %}
                        <p>{{ ai.ai_behavior }}</p>
                        <p class="mb-0"><strong>{% trans "Mot-clé :" %}</strong> {{ ai.ai_keyword }}</p>
                        
                        {% if forloop.counter0 < 4 %}
                            <div class="text-center"><div class="knight-hr my-3 d-inline-block w-50"></div></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">
                {% trans "Avantages" %}
            </h5>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs justify-content-center" id="advantageTab" role="tablist">
                {% for ai in ai_list %}
                <li class="nav-item">
                    <a class="nav-link {% if forloop.first %}active{% endif %}" id="advantage{{ai.id}}-tab" data-toggle="tab" href="#advantage{{ai.id}}" role="tab" aria-controls="advantage{{ai.id}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ ai.ai_advantage_name }}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content mt-3" id="advantageTabContent">
                {% for ai in ai_list %}
                    <div class="tab-pane {% if forloop.first %}show active{% endif %} fade text-justify markdown-format mb-0" id="advantage{{ai.id}}" role="tabpanel" aria-labelledby="advantage{{ai.id}}-tab">
                        {{ ai.ai_advantage|safe_markdown }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">
                {% trans "Inconvénients" %}
            </h5>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs justify-content-center" id="disadvantageTab" role="tablist">
                {% for ai in ai_list %}
                <li class="nav-item">
                    <a class="nav-link {% if forloop.first %}active{% endif %}" id="disadvantage{{ai.id}}-tab" data-toggle="tab" href="#disadvantage{{ai.id}}" role="tab" aria-controls="disadvantage{{ai.id}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ ai.ai_disadvantage_name }}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content mt-3" id="disadvantageTabContent">
                {% for ai in ai_list %}
                    <div class="tab-pane {% if forloop.first %}show active{% endif %} fade text-justify markdown-format mb-0" id="disadvantage{{ai.id}}" role="tabpanel" aria-labelledby="disadvantage{{ai.id}}-tab">
                        {{ ai.ai_disadvantage|safe_markdown }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}
